Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Update dependency jest to ^27.2.4
  package.json
  yarn.lock
Labels: none

Update dependency @popperjs/core to ^2.10.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update Node to v14.18.0
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency webpack to ^5.56.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.4.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.10.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.56.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Add production managed RDB
  .circleci/config.yml
  generators/express/index.test.ts
  generators/express/templates/ansible/group_vars/all.yaml.ejs
  generators/root/templates/base/ansible/README.md
  generators/root/templates/base/ansible/ansible.cfg
  generators/root/templates/base/ansible/gitignore
  generators/root/templates/base/ansible/inventory.py
  generators/root/templates/base/ansible/production.py
  generators/root/templates/base/ansible/staging.py
  generators/root/templates/base/terraform/.terraform.lock.hcl
  generators/root/templates/base/terraform/README.md
  generators/root/templates/base/terraform/common/database/main.tf.ejs
  generators/root/templates/base/terraform/common/database/outputs.tf
  generators/root/templates/base/terraform/common/database/variables.tf
  generators/root/templates/base/terraform/common/server/main.tf.ejs
  generators/root/templates/base/terraform/common/server/outputs.tf
  generators/root/templates/base/terraform/common/server/variables.tf
  generators/root/templates/base/terraform/output.tf
  generators/root/templates/base/terraform/production/.terraform.lock.hcl
  generators/root/templates/base/terraform/production/gitignore
  generators/root/templates/base/terraform/production/main.tf.ejs
  generators/root/templates/base/terraform/production/outputs.tf
  generators/root/templates/base/terraform/production/terraform.tfvars.example
  generators/root/templates/base/terraform/production/variables.tf
  generators/root/templates/base/terraform/staging/.terraform.lock.hcl
  generators/root/templates/base/terraform/staging/gitignore
  generators/root/templates/base/terraform/staging/main.tf.ejs
  generators/root/templates/base/terraform/staging/outputs.tf
  generators/root/templates/base/terraform/staging/terraform.tfvars.example
  generators/root/templates/base/terraform/staging/variables.tf
  generators/symfony/index.test.ts
  generators/symfony/templates/ansible/group_vars/all.yaml.ejs
  generators/utils/database/index.ts
  generators/utils/database/templates/database.tf.ejs
  generators/utils/database/templates/outputs.tf.ejs
  generators/utils/database/templates/provision.yaml.ejs
  generators/utils/database/templates/staging.yaml.ejs
Labels: generator/express, generator/symfony

Update dependency postcss to ^8.3.9
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency autoprefixer to ^10.3.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^3.2.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.10.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency bootstrap to ^5.1.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.57.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^2.4.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update babel monorepo to ^7.15.8
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-cli to ^4.9.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.57.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^2.4.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.58.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.3.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.2.5
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.58.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Fix httpPath handling for CRA base packages
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/nginx.conf.ejs
  generators/react-admin/templates/base/package.json.ejs
Labels: generator/create-react-app

Update dependency css-loader to ^6.4.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency bootstrap to ^5.1.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update sentry context
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
Labels: generator/create-react-app, generator/express

Update dependency symfony/flex to ^1.17.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to v5
  package.json
  yarn.lock
Labels: none

Update dependency sass-loader to ^12.2.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint-plugin-import to ^2.25.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.58.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^3.2.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency typescript to ^4.4.4
  package.json
  yarn.lock
Labels: none

Fix CS
  utils/circleci/Config.ts
  utils/circleci/Workflow.ts
Labels: none

Update dependency eslint to v8
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency postcss-loader to ^6.2.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.43.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update Node to v14.18.1
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency eslint to ^8.0.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony
