Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @babel/core to ^7.14.6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.39.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.35.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update Node.js to >=v14.17.1
  package.json
Labels: none

Disable node update
  .github/renovate.json
Labels: none

Update dependency sass to ^1.35.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.37
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency typescript to ^4.3.3
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.3.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.39.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency typescript to ^4.3.4
  package.json
  yarn.lock
Labels: none

Update Node to v14.17.1
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency phpstan/phpstan to ^0.12.90
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Make symfony range constraint more permissive
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base/composer.json
Labels: generator/symfony

Update symfony monorepo to ^5.3.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Add GitHub workflow to automaticaly update PHP
  .github/workflows/update.yaml
  scripts/lib/replace.ts
  scripts/updateNode.ts
  scripts/updatePHP.ts
Labels: none

Prepare v0.2.2 release
  package.json
Labels: none

Install node_modules using node orb on CI
  .circleci/config.yml
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/circleci-twig.yaml.ejs
  utils/circleci/Config.ts
  utils/circleci/__tests__/Config.ts
  utils/circleci/__tests__/mergeConfig.ts
  utils/circleci/mergeConfig.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Fix artifact destination in symfony generator
  generators/symfony/templates/circleci-twig.yaml.ejs
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/symfony

Simplify NextJS generator
  generators/next-js/index.ts
Labels: generator/next-js

Replace automatic installation of dependency
  .circleci/config.yml
  generators/app/index.ts
  generators/create-react-app/index.test.ts
  generators/create-react-app/index.ts
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/create-react-app/templates/script/bootstrap.ejs
  generators/express/index.test.ts
  generators/express/index.ts
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/express/templates/script/bootstrap.ejs
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
  generators/next-js/templates/script/bootstrap.ejs
  generators/root/index.ts
  generators/root/templates/base/script/bootstrap
  generators/root/templates/base/script/lib/docker
  generators/root/templates/base/script/server
  generators/root/templates/base/script/update
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
  generators/symfony/templates/script/bootstrap.ejs
  package.json
  utils/PackageGenerator.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @babel/preset-env to ^7.14.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.41
  package.json
  yarn.lock
Labels: none

Update dependency bootstrap to ^5.0.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.0.5
  package.json
  yarn.lock
Labels: none

Update dependency sentry/sentry-symfony to ^4.1.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^7.29.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.40.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.28.0
  package.json
  yarn.lock
Labels: none

Add a package path option to sub-generators
  generators/create-react-app/index.test.ts
  generators/create-react-app/index.ts
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/express/index.test.ts
  generators/express/index.ts
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/base/docker/nginx/default.conf.ejs
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci-twig.yaml.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
  utils/PackageGenerator.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @types/yeoman-generator to ^5.2.0
  package.json
  yarn.lock
Labels: none

Validate package path
  utils/PackageGenerator.ts
  utils/validation/validatePackagePath.test.ts
  utils/validation/validatePackagePath.ts
Labels: none

Update dependency mini-css-extract-plugin to ^1.6.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.41.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.0.6
  package.json
  yarn.lock
Labels: none

Update typescript-eslint monorepo to ^4.28.1
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.41.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update symfony monorepo to ^5.3.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency typescript to ^4.3.5
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-symfony to ^0.12.38
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
