Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

revert default express port back to 3000
  generators/express/templates/ansible/provision.yaml.ejs
  generators/express/templates/base/src/index.ts.ejs
Labels: generator/express

Update dependency @babel/core to ^7.13.14
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.20.0
  package.json
  yarn.lock
Labels: none

Add supported engines to package.json
  package.json
Labels: none

Prepare v0.1.1 release
  package.json
Labels: none

Update dependency postcss to ^8.2.9
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-manifest-plugin to ^3.1.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.30.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.8.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.83
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.22
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Fix domain default value using appname instead of projectName
  generators/create-react-app/index.ts
  generators/express/index.ts
  generators/symfony/index.ts
Labels: generator/create-react-app, generator/express, generator/symfony

Replace spaces with dashes in project name default value
  generators/root/index.ts
Labels: none

Update dependency crypto-random-string to v4
  package.json
  yarn.lock
Labels: none

Update dependency doctrine/doctrine-migrations-bundle to ^3.1.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.8.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.3.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.0.0-beta.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/yeoman-test to ^4.0.1
  package.json
  yarn.lock
Labels: none

Update dependency mini-css-extract-plugin to ^1.4.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.31.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency typescript to ^4.2.4
  package.json
  yarn.lock
Labels: none

Add eslintcache to ignored files
  generators/create-react-app/templates/base/.gitignore
Labels: generator/create-react-app

Update babel monorepo to ^7.13.15
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.40
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.31.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint to ^7.24.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-migrations-bundle to ^3.1.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency postcss to ^8.2.10
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update ESLint config
  generators/create-react-app/templates/base/.eslintrc.json
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/express/templates/base/.eslintrc.json
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/.eslintrc.json
  generators/next-js/templates/base/package.json.ejs
Labels: generator/create-react-app, generator/express, generator/next-js

Update dependency css-loader to ^5.2.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.21.0
  package.json
  yarn.lock
Labels: none

Add LICENSE
  LICENSE
  package.json
Labels: none

Prepare v0.1.2 release
  package.json
Labels: none

Update dependency phpstan/phpstan-symfony to ^0.12.23
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.22.0
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.32.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.25
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Add tags to server in terraform config
  generators/root/templates/base/terraform/server.tf.ejs
Labels: none

Update dependency webpack to ^5.33.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
