Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Update dependency doctrine/orm to ^2.10.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^8.4.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency ts-jest to ^27.1.0
  package.json
  yarn.lock
Labels: none

Update dependency @types/ramda to ^0.27.59
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-symfony to ^1.0.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Project name may contain `0` character.
  utils/validation/validateProjectName.test.ts
  utils/validation/validateProjectName.ts
Labels: none

Disable `max-len` lint rule.
  .eslintrc.json
Labels: none

Fix lint max_len warnings.
  generators/root/index.ts
  generators/utils/database/index.ts
  utils/circleci/Config.ts
  utils/circleci/Workflow.ts
  utils/circleci/mergeConfig.ts
  utils/validation/validateEmail.ts
  utils/validation/validateProjectName.test.ts
Labels: none

Update dependency webpack to ^5.65.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.6.0
  package.json
  yarn.lock
Labels: none

Update dependency eslint to ^8.4.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency sass-loader to ^12.4.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.60
  package.json
  yarn.lock
Labels: none

Update dependency ts-jest to ^27.1.1
  package.json
  yarn.lock
Labels: none

Fix Symfony with twig request proxy chain
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/webpack.config.js.ejs
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/nginx-twig.conf.ejs
Labels: generator/symfony

Allow no migrations in Symfony update script
  generators/symfony/templates/script/update.ejs
Labels: generator/symfony

Configure Symfony logger to use stderr
  generators/symfony/templates/base/config/services.yaml
Labels: generator/symfony

Fix Symfony running in prod env instead of dev
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/symfony

Cleanup unnecessary docker service override
  generators/symfony/templates/docker-compose-twig.yaml.ejs
Labels: generator/symfony

Simplify Symfony kernel
  generators/symfony/templates/base/src/Kernel.php
Labels: generator/symfony

Renamed $UID to $uid to have tests running on MacOS.
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
  generators/root/templates/base/script/lib/docker
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update symfony monorepo to ^5.4.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Prepare v0.3.2 release
  package.json
Labels: none

Fix build copying symfony var directory
  scripts/build.mjs
Labels: none

Fix Sentry incompatibility with symfony/cache
  generators/symfony/index.test.ts
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/script/bootstrap.ejs
Labels: generator/symfony

Test generators on github actions
  .circleci/config.yml
  .github/workflows/test-generators.yaml
Labels: none

Prepare v0.3.3 release
  package.json
Labels: none

Update dependency typescript to ^4.5.3
  package.json
  yarn.lock
Labels: none

Update dependency jest to ^27.4.4
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.45.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss to ^8.4.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Flutter generator : use ApplicationDisplayName on Android project.
  generators/flutter-mobile/index.test.ts
  generators/flutter-mobile/index.ts
  generators/flutter-mobile/templates/base/android/app/build.gradle
  generators/flutter-mobile/templates/base/android/app/src/main/AndroidManifest.xml
Labels: none

Fixed MainActivity creation on Flutter generator.
  generators/flutter-mobile/index.ts
  generators/flutter-mobile/templates/android-main-activity/MainActivity.kt
Labels: none

Add Intl dependency to Flutter base project.
  generators/flutter-mobile/templates/base/pubspec.yaml
Labels: none

Add Codemagic setup to Flutter generator.
  generators/flutter-mobile/index.test.ts
  generators/flutter-mobile/index.ts
  generators/flutter-mobile/templates/base/android/app/build.gradle
  generators/flutter-mobile/templates/codemagic.yaml
  generators/root/templates/base/codemagic.yaml
  utils/PackageGenerator.ts
  utils/codemagic/Config.test.ts
  utils/codemagic/Config.ts
  utils/codemagic/Workflow.ts
  utils/codemagic/index.ts
  utils/codemagic/mergeConfig.test.ts
  utils/codemagic/mergeConfig.ts
Labels: none

Add Intl missing dependency to Flutter base project.
  generators/flutter-mobile/templates/base/pubspec.yaml
Labels: none

Fixed typo on a Flutter generator test.
  generators/flutter-mobile/index.test.ts
  package.json
Labels: none

Moved Codemagic setup help to README.
  generators/flutter-mobile/templates/base/README.md
  generators/flutter-mobile/templates/codemagic.yaml
Labels: none

Flutter mobile generator declares no "non exempt encryption" on iOS app.
  generators/flutter-mobile/templates/base/ios/Runner/Info.plist
Labels: none

Set default choice for mobile generator
  generators/app/index.ts
Labels: none
