Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Update dependency jest to v27
  package.json
  yarn.lock
Labels: none

Update jest
  package.json
  yarn.lock
Labels: none

Update dependency autoprefixer to ^10.2.6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

fix(ansible) restart app service on deploy
  generators/express/templates/ansible/deployment.yaml.ejs
Labels: generator/express

Update dependency ts-jest to ^27.0.1
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-doctrine to ^0.12.38
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.38.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.38.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Add tslib
  package.json
  yarn.lock
Labels: none

add PR feedback
  CONTRIBUTING.md
  README.md
  doc/DESCRIPTION.md
  doc/QUICKSTART.md
Labels: none

move advanced usage section in readme
  README.md
  doc/QUICKSTART.md
Labels: none

Update dependency typescript to ^4.3.2
  package.json
  yarn.lock
Labels: none

change sentence about starter kit
  README.md
  doc/DESCRIPTION.md
Labels: none

Update dependency postcss-loader to ^5.3.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

fix typo
  README.md
Labels: none

Update dependency sass-loader to ^11.1.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency ts-jest to ^27.0.2
  package.json
  yarn.lock
Labels: none

Prepare v0.2.1 release
  package.json
Labels: none

Update dependency sentry/sentry-symfony to v4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.9.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/phpunit-bridge to ^5.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.26.0
  package.json
  yarn.lock
Labels: none

Update dependency sass-loader to v12
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.35
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update react-scripts
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
Labels: generator/create-react-app

Update dependency execa to ^5.1.0
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.34.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.0.4
  package.json
  yarn.lock
Labels: none

Update dependency eslint-plugin-import to ^2.23.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @babel/preset-env to ^7.14.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update PHP version
  .circleci/config.yml
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/ansible/provision.yaml.ejs
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base-twig/symfony.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/base/symfony.lock
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/symfony

Update polyfill replace rules
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^1.6.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to v3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Remove unnecessary polyfills
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update symfony monorepo
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.4.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update php-cs-fixer
  .circleci/config.yml
  generators/symfony/templates/base-twig/.gitignore
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/.gitignore
  generators/symfony/templates/base/.php-cs-fixer.dist.php
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update bootstrap to v5
  generators/symfony/templates/base-twig/config/packages/twig.yaml
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency yeoman-generator to ^5.3.0
  package.json
  yarn.lock
Labels: none
