Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/react, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

.github/labeler.yaml:

generator/react:
  - generators/react/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/react-admin:
  - generators/react-admin/**/*

generator/react-native-mobile:
  - generators/react-native-mobile/**/*

generator/symfony:
  - generators/symfony/**/*

Update express to stable v5
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
Labels: generator/express

Fix node update script
  scripts/updateNode.mjs
Labels: none

Remove unused @type package
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
Labels: generator/express

Ensure template dependencies are not commited
  .gitignore
Labels: none

Add GitHub workflow to automaticaly update PHP
  .github/workflows/ci.yaml
  .github/workflows/update.yaml
  scripts/lib/replace.mjs
  scripts/updateNode.mjs
  scripts/updatePHP.mjs
Labels: none

Remove old CODEOWNERS
  CODEOWNERS
Labels: none

Cleanup .gitattributes
  .gitattributes
Labels: none

Udpate vite
  generators/react/templates/base/.eslintrc.json
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/base/package.json
  generators/react/templates/base/tsconfig.app.json
  generators/react/templates/base/tsconfig.json
  generators/react/templates/base/yarn.lock
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react

Update vite in react-admin generator
  generators/react-admin/templates/base/package.json
  generators/react-admin/templates/base/yarn.lock
Labels: generator/react-admin

Update Node to v20.18.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update polyfill replace rules
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Fix CS in HomeController.php
  generators/symfony/templates/base-twig/src/Controller/HomeController.php
Labels: generator/symfony

Update composer to v2.8.1
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update PHP to v8.3.12
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Prepare v0.6.0 release
  package.json
Labels: none

Update PHP to v8.3.13
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update node version in CI
  .github/workflows/ci.yaml
  .github/workflows/update.yaml
Labels: none

Update Node to v22.11.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/tsconfig.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/provision.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Add creation of a dedicated project in terraform config
  generators/root/templates/deployment/ansible/terraform/common/database/main.tf.ejs
  generators/root/templates/deployment/ansible/terraform/common/database/variables.tf
  generators/root/templates/deployment/ansible/terraform/common/server/main.tf.ejs
  generators/root/templates/deployment/ansible/terraform/common/server/variables.tf
  generators/root/templates/deployment/ansible/terraform/production/main.tf.ejs
  generators/root/templates/deployment/ansible/terraform/staging/main.tf.ejs
  generators/root/templates/deployment/kubernetes/environments/staging/main.tf.ejs
  generators/root/templates/deployment/kubernetes/modules/deployment/database.tf
  generators/root/templates/deployment/kubernetes/modules/deployment/variables.tf.ejs
Labels: none

Add default value and validate HTTP path
  generators/app/index.ts
  utils/PackageGenerator.ts
Labels: none

feat(circleci): update ansible and python version
  generators/root/templates/deployment/ansible/.circleci/config.yml
Labels: none

Fix PHP update script not updating CI image
  scripts/updatePHP.mjs
Labels: none

Update Vite
  generators/react-admin/templates/base/package.json
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/package.json
  generators/react/templates/base/yarn.lock
Labels: generator/react, generator/react-admin

Update PHP to v8.4.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.12.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update PHP to v8.4.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.12.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.12.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update PHP to v8.4.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Fix set-output deprecations
  .github/workflows/ci.yaml
  .github/workflows/update.yaml
  scripts/updateNode.mjs
  scripts/updatePHP.mjs
Labels: none

Update Node to v22.13.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update PHP to v8.4.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Apply suggestions from code review
  generators/root/templates/base/README.md
Labels: none

Create root README.md
  generators/root/templates/base/README.md
Labels: none

feat(express): Add user creation script
  generators/express/templates/base/README.md
  generators/express/templates/base/package.json
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/infrastructure/cli/createUser.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/src/useCases/createUser.ts
Labels: generator/express

Update Node to v22.13.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Sentry in Symfony generator
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base-twig/symfony.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/symfony.lock
Labels: generator/symfony

Update Symfony to 6.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Remplace custom Webpack config with Encore
  generators/symfony/templates/base-twig/.babelrc
  generators/symfony/templates/base-twig/.gitignore
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base-twig/config/bundles.php
  generators/symfony/templates/base-twig/config/packages/assets.yaml
  generators/symfony/templates/base-twig/config/packages/webpack_encore.yaml
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/symfony.lock
  generators/symfony/templates/base-twig/templates/base.html.twig
  generators/symfony/templates/base-twig/templates/home.html.twig
  generators/symfony/templates/base-twig/webpack.config.js.ejs
  generators/symfony/templates/base-twig/yarn.lock
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/docker-compose-twig.yaml.ejs
Labels: generator/symfony

Update PHP to v8.4.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony
