Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Add submodule to index without cloning the repository
  generators/root/index.ts
  generators/root/templates/base/.editorconfig
  generators/root/templates/base/.gitmodules
Labels: none

Update dependency webpack-cli to ^4.8.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Fix running tests on Node 16
  .circleci/config.yml
  yarn.lock
Labels: none

Update dependency sass to ^1.38.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update Node to v14.17.5
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency ts-jest to ^27.0.5
  package.json
  yarn.lock
Labels: none

Update typescript-eslint monorepo to ^4.29.2
  package.json
  yarn.lock
Labels: none

Update dependency @types/jest to ^27.0.1
  package.json
  yarn.lock
Labels: none

Update dependency @types/yeoman-test to ^4.0.2
  package.json
  yarn.lock
Labels: none

Update dependency sentry/sentry-symfony to ^4.2.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.42
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.51.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency yeoman-generator to ^5.4.1
  package.json
  yarn.lock
Labels: none

Update dependency webpack-dev-server to ^4.0.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

[WIP] Check peer dependencies
  .circleci/config.yml
  generators/symfony/index.test.ts
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  generators/symfony/templates/circleci-twig.yaml.ejs
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency yeoman-generator to ^5.4.2
  package.json
  yarn.lock
Labels: none

Update dependency autoprefixer to ^10.3.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.9.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.14.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.96
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint-plugin-import to ^2.24.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^0.12.43
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.51.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.14.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.29.3
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.38.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Enable private_role_vars in ansible config
  generators/root/templates/base/ansible/ansible.cfg
Labels: none

Fix user shell in ansible playbook
  generators/create-react-app/templates/ansible/provision.yaml.ejs
  generators/express/templates/ansible/provision.yaml.ejs
  generators/symfony/templates/ansible/provision.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/symfony

Fix envfile ownership
  generators/express/templates/ansible/provision.yaml.ejs
  generators/symfony/templates/ansible/provision.yaml.ejs
Labels: generator/express, generator/symfony

Add ansible config for NextJS generator
  generators/express/templates/ansible/group_vars/all.yaml.ejs
  generators/next-js/index.ts
  generators/next-js/templates/ansible/deployment.yaml.ejs
  generators/next-js/templates/ansible/group_vars/all.yaml.ejs
  generators/next-js/templates/ansible/group_vars/staging.yaml.ejs
  generators/next-js/templates/ansible/provision.yaml.ejs
Labels: generator/express, generator/next-js

Add missing files to built archive
  generators/next-js/templates/circleci.yaml.ejs
Labels: generator/next-js

Update dependency sentry/sentry-symfony to ^4.2.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Prepare v0.2.3 release
  package.json
Labels: none

Update dependency symfony/flex to ^1.14.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Fix FastCGI proxy address
  generators/symfony/templates/base/docker/nginx/default.conf.ejs
Labels: generator/symfony

Update dependency autoprefixer to ^10.3.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.1.0
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.38.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^3.0.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^3.1.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony
