Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency webpack to ^5.62.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.62.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint to ^8.2.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.47
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.62.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.63.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint-plugin-import to ^2.25.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.48
  package.json
  yarn.lock
Labels: none

Update dependency doctrine/doctrine-migrations-bundle to ^3.2.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.64.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.49
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.64.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Fix react admin generator not properly forwarding path
  generators/react-admin/index.ts
Labels: none

Update Node to v16.13.0
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/ansible/package/provision.yaml.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/tsconfig.json
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @babel/preset-env to ^7.16.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency execa to v6
  package.json
  yarn.lock
Labels: none

Update dependency webpack-dev-server to ^4.5.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Rename .gitignore files during build instead of in repository
  generators/create-react-app/templates/base/.gitignore
  generators/express/templates/base/.gitignore
  generators/next-js/templates/base/.gitignore
  generators/root/templates/base/.gitignore
  generators/symfony/templates/base-twig/.gitignore
  generators/symfony/templates/base/.gitignore
  package.json
  scripts/build.mjs
  yarn.lock
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Add authentification to express backend
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/index.ts.ejs
  generators/express/templates/base/src/infrastructure/app.ts
  generators/express/templates/base/src/infrastructure/auth.ts
  generators/express/templates/base/src/infrastructure/database/config.ts
  generators/express/templates/base/src/infrastructure/database/index.ts
  generators/express/templates/base/src/infrastructure/database/migrations/1626256402456-AddUser.ts
  generators/express/templates/base/src/infrastructure/database/schemas/user.ts
  generators/express/templates/base/src/infrastructure/mappers.ts
  generators/express/templates/base/src/infrastructure/routes/auth.ts
  generators/express/templates/base/src/infrastructure/routes/users.ts
  generators/express/templates/base/src/types.d.ts
  generators/express/templates/base/src/useCases/UserError.ts
  generators/express/templates/base/src/useCases/loginUser.ts
  generators/express/templates/base/yarn.lock
  generators/express/templates/docker-compose.yaml.ejs
  generators/express/templates/nginx.conf.ejs
  generators/next-js/templates/nginx.conf.ejs
  generators/react-admin/index.ts
  generators/react-admin/templates/base/src/App.tsx
  generators/react-admin/templates/base/src/admin/user.tsx
  generators/react-admin/templates/base/src/authProvider.ts
  generators/symfony/templates/nginx.conf.ejs
Labels: generator/express, generator/next-js, generator/symfony

Update dependency phpstan/phpstan-doctrine to ^1.0.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency sass-loader to ^12.3.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^2.4.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency typescript to ^4.5.2
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-symfony to ^1.0.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.1.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @thetribe/eslint-config to ^0.5.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @thetribe/eslint-config-typescript to ^0.4.0
  package.json
  yarn.lock
Labels: none

Update ESLint config
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/infrastructure/database/migrations/1626256402456-AddUser.ts
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/express, generator/next-js, generator/symfony

Update dependency phpstan/phpstan to ^1.2.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.4.0
  package.json
  yarn.lock
Labels: none

Fix frontend choice filtering
  generators/app/index.ts
Labels: none

Prepare v0.3.1 release
  package.json
Labels: none

Fix output not beeing written in the right file
  generators/utils/database/index.ts
Labels: none

Update dependency @types/ramda to ^0.27.50
  package.json
  yarn.lock
Labels: none

Update dependency @types/jest to ^27.0.3
  package.json
  yarn.lock
Labels: none

Only add database to terraform if the expected directory structuree is here
  generators/utils/database/index.ts
Labels: none

Update dependency doctrine/doctrine-bundle to ^2.4.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.64.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.5.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^8.3.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
