Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/react, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Remove version key from docker-compose config file
  generators/express/index.test.ts
  generators/next-js/index.test.ts
  generators/react/index.test.ts
  generators/root/templates/base/docker-compose.yaml
  generators/symfony/index.test.ts
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Add skip_requesting_account_id terraform backend parameter
  generators/root/templates/deployment/ansible/terraform/production/main.tf.ejs
  generators/root/templates/deployment/ansible/terraform/staging/main.tf.ejs
  generators/root/templates/deployment/kubernetes/environments/staging/main.tf.ejs
Labels: none

Update Node to v20.12.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/tsconfig.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/provision.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v20.12.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/tsconfig.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/provision.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Remplace docker-compose with docker compose
  generators/express/index.test.ts
  generators/express/templates/script/bootstrap.ejs
  generators/express/templates/script/update.ejs
  generators/next-js/index.test.ts
  generators/next-js/templates/script/bootstrap.ejs
  generators/react-admin/index.test.ts
  generators/react/index.test.ts
  generators/react/templates/script/bootstrap.ejs
  generators/root/templates/base/script/server
  generators/root/templates/base/script/update
  generators/symfony/index.test.ts
  generators/symfony/templates/script/bootstrap.ejs
  generators/symfony/templates/script/update.ejs
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/symfony

Update Node to v20.12.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/tsconfig.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/provision.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update supported NodeJS versions
  .github/workflows/ci.yaml
  package.json
  tsconfig.json
  yarn.lock
Labels: none

Update github action runner image
  .github/workflows/ci.yaml
  .github/workflows/labeler.yaml
  .github/workflows/update.yaml
Labels: none

Run tests using node instead of jest
  .github/workflows/ci.yaml
  generators/app/index.test.ts
  generators/express/index.test.ts
  generators/flutter-mobile/index.test.ts
  generators/next-js/index.test.ts
  generators/react-admin/index.test.ts
  generators/react-native-mobile/index.test.ts
  generators/react/index.test.ts
  generators/root/index.test.ts
  generators/symfony/index.test.ts
  jest.config.js
  package.json
  utils/__tests__/ansible.ts
  utils/__tests__/indent.ts
  utils/ansible.test.ts
  utils/ansible.ts
  utils/ansible/index.ts
  utils/circleci/Config.test.ts
  utils/circleci/mergeConfig.test.ts
  utils/codemagic/Config.test.ts
  utils/codemagic/mergeConfig.test.ts
  utils/domain.test.ts
  utils/indent.test.ts
  utils/validation/validateApplicationPrefix.test.ts
  utils/validation/validateEmail.test.ts
  utils/validation/validateFrontendName.test.ts
  utils/validation/validatePackagePath.test.ts
  utils/validation/validateProjectName.test.ts
  utils/varName.test.ts
  yarn.lock
Labels: generator/react, generator/express, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Prepare v0.5.0 release
  package.json
Labels: none

Update express to 5.0.0-beta.3
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

Update NextJS to v14
  generators/next-js/templates/base/.eslintrc.json
  generators/next-js/templates/base/.gitignore
  generators/next-js/templates/base/next-env.d.ts
  generators/next-js/templates/base/next.config.js
  generators/next-js/templates/base/next.config.mjs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/pages/index.tsx
  generators/next-js/templates/base/postcss.config.mjs
  generators/next-js/templates/base/public/.gitignore
  generators/next-js/templates/base/public/next.svg
  generators/next-js/templates/base/public/vercel.svg
  generators/next-js/templates/base/src/app/favicon.ico
  generators/next-js/templates/base/src/app/globals.css
  generators/next-js/templates/base/src/app/layout.tsx
  generators/next-js/templates/base/src/app/page.tsx
  generators/next-js/templates/base/src/version.ts
  generators/next-js/templates/base/tailwind.config.ts
  generators/next-js/templates/base/tsconfig.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/.dockerignore
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/next-js

Use private network for connecting to database
  generators/utils/database/index.ts
Labels: none

Use slash as separator for image names
  generators/express/index.ts
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/next-js/index.ts
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/react/index.ts
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/symfony/index.ts
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update yarn to v4.2.2
  .github/workflows/ci.yaml
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

upgrade flutter to 3.19
  doc/QUICKSTART.md
  generators/flutter-mobile/templates/base/.metadata
  generators/flutter-mobile/templates/base/analysis_options.yaml
  generators/flutter-mobile/templates/base/android/app/build.gradle
  generators/flutter-mobile/templates/base/android/app/src/debug/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/main/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/profile/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/build.gradle
  generators/flutter-mobile/templates/base/android/gradle.properties
  generators/flutter-mobile/templates/base/android/gradle/wrapper/gradle-wrapper.properties
  generators/flutter-mobile/templates/base/android/settings.gradle
  generators/flutter-mobile/templates/base/ios/Flutter/AppFrameworkInfo.plist
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/project.pbxproj
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Info.plist
  generators/flutter-mobile/templates/base/ios/RunnerTests/RunnerTests.swift
  generators/flutter-mobile/templates/base/key.properties
  generators/flutter-mobile/templates/base/pubspec.yaml
  generators/flutter-mobile/templates/base/test/unit_test.dart
  generators/flutter-mobile/templates/base/test/widget_test.dart
  generators/flutter-mobile/templates/codemagic.yaml
Labels: generator/flutter-mobile

Update ubuntu version in terraform config
  generators/root/templates/deployment/ansible/terraform/common/server/main.tf.ejs
Labels: none

Update Node to v20.15.0
  deno.lock
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v20.15.0
  deno.lock
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Use new deployment roles
  generators/express/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/express/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/react/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/react/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/root/templates/deployment/ansible/ansible/deployment.yaml
  generators/root/templates/deployment/ansible/ansible/deployment_ci.yaml
  generators/symfony/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/symfony/templates/deployment/ansible/package/deployment_ci.yaml.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update dependency ramda to ^0.30.1
  package.json
  utils/circleci/Config.ts
  yarn.lock
Labels: none

Update EJS
  package.json
  yarn.lock
Labels: none

Update Node to v20.16.0
  deno.lock
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update react generator name in readme
  README.md
Labels: none

Update jest
  package.json
  yarn.lock
Labels: none

Make package.json non-templates to simplify managing them
  generators/express/index.ts
  generators/express/templates/base/package.json
  generators/next-js/index.ts
  generators/next-js/templates/base/package.json
  generators/react-admin/index.ts
  generators/react-admin/templates/base/package.json
  generators/react-native-mobile/index.test.ts
  generators/react-native-mobile/index.ts
  generators/react-native-mobile/templates/base/package.json
  generators/react/index.ts
  generators/react/templates/base/package.json
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/package.json
  scripts/regenerate-yarn-lock.mjs
  scripts/updateNode.ts
  tsconfig.json
  utils/BaseGenerator.ts
  utils/manipulator/filesystem.ts
  utils/manipulator/json.ts
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Switch updateNode script to use Node instead of Deno
  .github/workflows/ci.yaml
  .github/workflows/update.yaml
  package.json
  scripts/updateNode.mjs
  yarn.lock
Labels: none

Add packageManger key to all package.json
  generators/express/templates/base/package.json
  generators/next-js/templates/base/package.json
  generators/react-admin/templates/base/package.json
  generators/react-native-mobile/templates/base/package.json
  generators/react/templates/base/package.json
  generators/symfony/templates/base-twig/package.json
  package.json
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Add yarnrc files to all templates
  generators/express/templates/base/.yarnrc.yml
  generators/next-js/templates/base/.yarnrc.yml
  generators/react-admin/templates/base/.yarnrc.yml
  generators/react-native-mobile/templates/base/.yarnrc.yml
  generators/react/templates/base/.yarnrc.yml
  generators/symfony/templates/base-twig/.yarnrc.yml
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Switch to corepack to manage package manager versions
  .github/workflows/ci.yaml
  .github/workflows/update.yaml
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  generators/express/templates/base/package.json
  generators/next-js/templates/base/package.json
  generators/react-admin/templates/base/package.json
  generators/react-native-mobile/templates/base/package.json
  generators/react/templates/base/package.json
  generators/symfony/templates/base-twig/package.json
  package.json
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Update React
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/package.json
  generators/react/templates/base/yarn.lock
Labels: generator/react, generator/next-js, generator/react-admin

Use yarn to update lock instead doing manual replace
  scripts/updateNode.mjs
Labels: none

[WIP] Run tests in ESM mode instead of CJS
  generators/app/index.test.ts
  generators/app/index.ts
  generators/express/index.test.ts
  generators/express/index.ts
  generators/fast-api/index.ts
  generators/flutter-mobile/index.test.ts
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/react-admin/index.test.ts
  generators/react-admin/index.ts
  generators/react-native-mobile/index.test.ts
  generators/react/index.test.ts
  generators/react/index.ts
  generators/root/index.test.ts
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  jest.config.js
  package.json
  tsconfig.json
  utils/ansible/vault.ts
  utils/createResolve.ts
  yarn.lock
Labels: generator/react, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Fix typos in package generator options
  utils/PackageGenerator.ts
  utils/validation/validatePackagePath.ts
Labels: none

Update yeoman package for compatibility with yo@^5
  generators/app/index.ts
  generators/express/index.ts
  generators/fast-api/index.ts
  generators/flutter-mobile/index.ts
  generators/next-js/index.ts
  generators/react-admin/index.ts
  generators/react-native-mobile/index.ts
  generators/react/index.ts
  generators/root/index.ts
  generators/symfony/index.ts
  generators/utils/database/index.ts
  generators/utils/http/index.ts
  package.json
  utils/BaseGenerator.ts
  utils/PackageGenerator.ts
  utils/manipulator/filesystem.ts
  utils/manipulator/json.ts
  yarn.lock
Labels: generator/react, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Update eslint
  package.json
  yarn.lock
Labels: none

Update ansible roles submodule version
  generators/root/index.ts
Labels: none

Fix Next build persist paths
  generators/next-js/templates/circleci.yaml.ejs
Labels: generator/next-js

Update Scaleway terraform provider
  generators/root/templates/deployment/ansible/terraform/production/.terraform.lock.hcl
  generators/root/templates/deployment/ansible/terraform/staging/.terraform.lock.hcl
  generators/root/templates/deployment/kubernetes/environments/staging/.terraform.lock.hcl
Labels: none

Update Node to v20.17.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/react:
  - generators/react/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/react-admin:
  - generators/react-admin/**/*

generator/react-native-mobile:
  - generators/react-native-mobile/**/*

generator/symfony:
  - generators/symfony/**/*
