Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/symfony

Update CircleCI docker version
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
Labels: generator/create-react-app, generator/express

Update PHP to v8.1.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/ansible/group_vars/all.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Symfony security config from recipe
  generators/symfony/templates/base/config/packages/security.yaml
Labels: generator/symfony

Update symfony monorepo
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.4.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Add kubernetes deployment for NextJS generator
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/group_vars/all.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/nginx.conf.j2.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/next-js/templates/deployment/kubernetes/chart/deployment.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/service.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/.dockerignore
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  scripts/updateNode.ts
Labels: generator/next-js

Prepare v0.4.0 release
  package.json
Labels: none

Update dependency webpack to ^5.70.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Fix express build not removing deleted files
  generators/express/templates/base/package.json.ejs
Labels: generator/express

Update dependency phpstan/phpstan to ^1.4.8
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update symfony monorepo to ^6.0.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.5.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency postcss to ^8.4.8
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.28.1
  package.json
  yarn.lock
Labels: none

Update dependency doctrine/orm to ^2.11.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Remove duplicate questions
  generators/app/index.ts
Labels: none

Change front folder names to avoid duplicate issue
  generators/app/index.test.ts
  generators/app/index.ts
Labels: none

Change interactive prompt for multiple font selection
  generators/app/index.ts
Labels: none

Update dependency phpstan/phpstan to ^1.4.9
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^8.11.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @popperjs/core to ^2.11.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.4.10
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @popperjs/core to ^2.11.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.17.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Add tests for a react-native generation
  generators/app/index.test.ts
Labels: none

Update dependency autoprefixer to ^10.4.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss to ^8.4.11
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency autoprefixer to ^10.4.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Change the static name to avoid overwriting files in the case of multiple fronts
  generators/app/index.test.ts
  generators/app/index.ts
Labels: none

Fix the loop to keep informations on the generator
  generators/app/index.ts
Labels: none

Change all template file names
  generators/react-native-mobile/index.ts
  generators/react-native-mobile/templates/base/README.md.ejs
  generators/react-native-mobile/templates/base/android/app/_BUCK.ejs
  generators/react-native-mobile/templates/base/android/app/build.gradle.ejs
  generators/react-native-mobile/templates/base/android/app/src/main/AndroidManifest.xml.ejs
  generators/react-native-mobile/templates/base/android/app/src/main/res/values/strings.xml.ejs
  generators/react-native-mobile/templates/base/android/settings.gradle.ejs
  generators/react-native-mobile/templates/base/app.json.ejs
  generators/react-native-mobile/templates/base/codemagic.yaml.ejs
  generators/react-native-mobile/templates/base/ios/Podfile.ejs
  generators/react-native-mobile/templates/base/package.json.ejs
  generators/react-native-mobile/templates/natif/android-debug/ReactNativeFlipper.java.ejs
  generators/react-native-mobile/templates/natif/android-main/MainActivity.java.ejs
  generators/react-native-mobile/templates/natif/android-main/MainApplication.java.ejs
  generators/react-native-mobile/templates/natif/ios-main/AppDelegate.m.ejs
  generators/react-native-mobile/templates/natif/ios-main/Info.plist.ejs
  generators/react-native-mobile/templates/natif/ios-main/LaunchScreen.storyboard.ejs
  generators/react-native-mobile/templates/natif/ios-tests/baseTests.m.ejs
  generators/react-native-mobile/templates/natif/ios-xcodeproj/base.xcscheme.ejs
  generators/react-native-mobile/templates/natif/ios-xcodeproj/project.pbxproj.ejs
  generators/react-native-mobile/templates/natif/ios-xcworkspace/contents.xcworkspacedata.ejs
  package-lock.json
Labels: none

Add missing xcworkspace
  generators/react-native-mobile/index.test.ts
  generators/react-native-mobile/index.ts
Labels: none

Update dependency postcss to ^8.4.12
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency css-loader to ^6.7.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.15.0
  package.json
  yarn.lock
Labels: none

Update dependency mini-css-extract-plugin to ^2.6.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.17.8
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.16.0
  package.json
  yarn.lock
Labels: none

Update dependency babel-loader to ^8.2.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.28.2
  package.json
  yarn.lock
Labels: none

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
