Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Update dependency @tsconfig/node14 to ^1.0.3
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.7.14
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update ansible-roles submodule
  generators/root/index.ts
Labels: none

Update technologies list in README
  README.md
Labels: none

Harden permission in CI workflow
  .github/workflows/ci.yaml
Labels: none

fix: typo in domain test
  generators/express/templates/base/src/domain/User.test.ts
Labels: generator/express

Configure Doctrine to use attributes for mapping
  generators/symfony/templates/base/config/packages/doctrine.yaml
Labels: generator/symfony

Update Typescript
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  package.json
  utils/BaseGenerator.ts
  yarn.lock
Labels: generator/create-react-app, generator/next-js

Slurp condition newlines in tar command
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/symfony

Update to flutter 3.3.0.
  generators/flutter-mobile/templates/base/.gitignore
  generators/flutter-mobile/templates/base/.metadata
  generators/flutter-mobile/templates/base/android/app/build.gradle
  generators/flutter-mobile/templates/base/android/app/src/debug/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/main/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/main/res/values-night/styles.xml
  generators/flutter-mobile/templates/base/android/app/src/main/res/values/styles.xml
  generators/flutter-mobile/templates/base/android/app/src/profile/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/build.gradle
  generators/flutter-mobile/templates/base/android/gradle/wrapper/gradle-wrapper.properties
  generators/flutter-mobile/templates/base/ios/Flutter/AppFrameworkInfo.plist
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/project.pbxproj
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  generators/flutter-mobile/templates/base/ios/Runner/Info.plist
  generators/flutter-mobile/templates/base/lib/src/app.dart
  generators/flutter-mobile/templates/base/lib/src/sample_feature/sample_item_details_view.dart
  generators/flutter-mobile/templates/base/lib/src/sample_feature/sample_item_list_view.dart
  generators/flutter-mobile/templates/base/lib/src/settings/settings_controller.dart
  generators/flutter-mobile/templates/base/lib/src/settings/settings_view.dart
  generators/flutter-mobile/templates/base/pubspec.yaml
  generators/flutter-mobile/templates/base/test/widget_test.dart
Labels: generator/flutter-mobile

Update Node to v16.17.0
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/create-react-app/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update transitive dependencies with vulnerabilities
  yarn.lock
Labels: none

Update jsprim to update json-schema
  yarn.lock
Labels: none

Update vulnerable dependencies in react-native-mobile generator
  generators/react-native-mobile/templates/base/package.json.ejs
  generators/react-native-mobile/templates/base/yarn.lock
  scripts/regenerate-lock.mjs
Labels: none

fix: add cookie secret in express
  generators/express/index.ts
  generators/express/templates/deployment/ansible/group_vars/all.yaml.ejs
  generators/express/templates/deployment/ansible/group_vars/staging.yaml.ejs
Labels: generator/express

Use HTTPS URL for roles submodule
  .github/workflows/ci.yaml
  generators/root/templates/deployment/ansible/.gitmodules
Labels: none

Increase timeout for utils tests
  package.json
Labels: none

Update Sentry
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
Labels: generator/create-react-app, generator/express

User native randomUUID instead of uuid package
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/yarn.lock
  scripts/updateNode.ts
Labels: generator/express

Update react-router to v6
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/src/App.tsx
  generators/create-react-app/templates/base/src/components/Home.tsx
  generators/create-react-app/templates/base/src/components/Layout.css
  generators/create-react-app/templates/base/src/components/Layout.tsx
  generators/create-react-app/templates/base/yarn.lock
  generators/react-admin/index.ts
Labels: generator/create-react-app

Update tslib
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

Add a database repository class
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/infrastructure/auth.ts
  generators/express/templates/base/src/infrastructure/database/index.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/src/infrastructure/routes/users.ts
  generators/express/templates/base/src/useCases/loginUser.ts
Labels: generator/express

Update TypeORM to v0.3.9
  generators/express/templates/base/ormconfig-dist.js
  generators/express/templates/base/ormconfig.js
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/index.ts.ejs
  generators/express/templates/base/src/infrastructure/database/data-source.ts
  generators/express/templates/base/src/infrastructure/database/index.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/express/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/migrate-job.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/express/templates/script/update.ejs
Labels: generator/express

Update typeorm, typeorm-naming-strategies and pg
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

Update NextJS to v12
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
Labels: generator/next-js
