Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @types/yeoman-generator to ^5.2.5
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.52.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency typescript to ^4.4.3
  package.json
  yarn.lock
Labels: none

Update dependency mini-css-extract-plugin to ^2.3.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.99
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency jest to ^27.2.0
  package.json
  yarn.lock
Labels: none

Update dependency symfony/flex to ^1.15.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.31.1
  package.json
  yarn.lock
Labels: none

Update dependency webpack-dev-server to ^4.2.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/yeoman-generator to ^5.2.6
  package.json
  yarn.lock
Labels: none

Update dependency @types/yeoman-generator to ^5.2.7
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.53.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.41.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency css-loader to ^6.3.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.31.2
  package.json
  yarn.lock
Labels: none

Update dependency @types/jest to ^27.0.2
  package.json
  yarn.lock
Labels: none

Update dependency sentry/sentry-symfony to ^4.2.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency postcss to ^8.3.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency autoprefixer to ^10.3.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.31.2
  package.json
  yarn.lock
Labels: none

Add validation for contact email field
  generators/root/index.ts
  utils/validation/index.ts
  utils/validation/types.ts
  utils/validation/validateEmail.test.ts
  utils/validation/validateEmail.ts
  utils/validation/validatePackagePath.ts
  utils/validation/validateProjectName.ts
Labels: none

Update dependency mini-css-extract-plugin to ^2.3.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.42.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Fix gitignore not beeing generated when installing from dist
  generators/app/index.ts
  generators/create-react-app/index.ts
  generators/create-react-app/templates/base/gitignore
  generators/express/index.ts
  generators/express/templates/base/gitignore
  generators/next-js/index.ts
  generators/next-js/templates/base/gitignore
  generators/root/index.ts
  generators/root/templates/base/ansible/gitignore
  generators/root/templates/base/gitignore
  generators/root/templates/base/nginx/docker/packages/.gitignore
  generators/root/templates/base/nginx/docker/packages/gitignore
  generators/root/templates/base/postgres/docker/initdb.d/.gitignore
  generators/root/templates/base/postgres/docker/initdb.d/gitignore
  generators/root/templates/base/terraform/gitignore
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/gitignore
  generators/symfony/templates/base/gitignore
  utils/BaseGenerator.ts
  utils/PackageGenerator.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency symfony/flex to ^1.16.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Rename SENTRY_ENVIRONMENT variable to ENVIRONMENT_NAME
  generators/create-react-app/templates/ansible/group_vars/all.yaml.ejs
  generators/create-react-app/templates/base/src/index.tsx.ejs
  generators/express/templates/ansible/group_vars/all.yaml.ejs
  generators/express/templates/base/src/index.ts.ejs
  generators/next-js/templates/ansible/group_vars/all.yaml.ejs
  generators/symfony/templates/ansible/group_vars/all.yaml.ejs
  generators/symfony/templates/base/config/packages/sentry.yaml
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency jest to ^27.2.1
  package.json
  yarn.lock
Labels: none

Factorize database creation logic
  generators/create-react-app/index.ts
  generators/express/index.ts
  generators/express/templates/ansible/package/provision.yaml.ejs
  generators/express/templates/database.sql.ejs
  generators/next-js/index.ts
  generators/root/index.ts
  generators/symfony/index.ts
  generators/symfony/templates/ansible/group_vars/staging.yaml.ejs
  generators/symfony/templates/ansible/package/provision.yaml.ejs
  generators/symfony/templates/database.sql.ejs
  generators/utils/README.md
  generators/utils/database/index.ts
  generators/utils/database/templates/database.sql.ejs
  generators/utils/database/templates/provision.yaml.ejs
  generators/utils/database/templates/staging.yaml.ejs
  package.json
  utils/BaseGenerator.ts
  utils/PackageGenerator.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @types/ramda to ^0.27.45
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.3.8
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.3.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.54.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.2.2
  package.json
  yarn.lock
Labels: none

Update dependency autoprefixer to ^10.3.6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.32.0
  package.json
  yarn.lock
Labels: none

Update dependency jest to ^27.2.3
  package.json
  yarn.lock
Labels: none

Update symfony monorepo
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.16.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.55.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.55.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
