Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency webpack to ^5.33.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency ts-jest to ^26.5.5
  package.json
  yarn.lock
Labels: none

Update dependency css-loader to ^5.2.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.32.9
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.32.10
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^1.5.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency css-loader to ^5.2.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.34.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency css-loader to ^5.2.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.32.11
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.26
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.84
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.13.16
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.35.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Emulate CircleCI run in tests
  generators/create-react-app/index.test.ts
  package.json
  tests-utils/createPair.ts
  tests-utils/execute.ts
  tests-utils/pipe.ts
  tests-utils/sort.ts
  tsconfig.json
  yarn.lock
Labels: generator/create-react-app

Remove install steps from generators
  generators/create-react-app/index.test.ts
  generators/create-react-app/index.ts
  generators/express/index.test.ts
  generators/express/index.ts
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/symfony/index.test.ts
  generators/symfony/index.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency postcss to ^8.2.12
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update for yo@4
  generators/create-react-app/index.test.ts
  generators/create-react-app/index.ts
  generators/express/index.test.ts
  generators/express/index.ts
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/root/index.ts
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  package.json
  yarn.lock
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Prepare v0.2.0 release
  package.json
Labels: none

Update dependency webpack to ^5.35.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.27
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^7.25.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @types/jest to ^26.0.23
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.2.13
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.36.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.85
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.28
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.36.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

add specific documentation for FMP
  README.md
  doc/CONTRIBUTING.md
  doc/DESCRIPTION.md
  doc/QUICKSTART.md
Labels: none

add description and quickstart
  doc/DESCRIPTION.md
  doc/QUICKSTART.md
Labels: none

modify description
  doc/DESCRIPTION.md
Labels: none

mutualize Usage in one doc
  README.md
Labels: none

Update dependency phpstan/phpstan-symfony to ^0.12.30
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^2.19
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack-cli to ^4.7.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.0.0-beta.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/yeoman-generator to ^4.11.4
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-symfony to ^0.12.32
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/yeoman-generator to ^4.11.4
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.2.14
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
