Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/symfony

Update dependency postcss to ^8.4.13
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^28.0.3
  package.json
  yarn.lock
Labels: none

Update dependency ts-jest to ^28.0.0-next.3
  package.json
  yarn.lock
Labels: none

Update babel monorepo to ^7.17.10
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency glob to v8
  package.json
  yarn.lock
Labels: none

Update dependency yeoman-environment to ^3.9.1
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.6.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/jest to ^27.5.0
  package.json
  yarn.lock
Labels: none

Update dependency ts-jest to ^28.0.0
  package.json
  yarn.lock
Labels: none

Update dependency ts-jest to ^28.0.1
  package.json
  yarn.lock
Labels: none

Update dependency sentry/sentry-symfony to ^4.2.9
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.6.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.12.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.9.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.6.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.28.12
  package.json
  yarn.lock
Labels: none

Update typescript-eslint monorepo to ^5.22.0
  package.json
  yarn.lock
Labels: none

Update dependency autoprefixer to ^10.4.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint to ^8.15.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency ts-jest to ^28.0.2
  package.json
  yarn.lock
Labels: none

Fix disabling basic auth
  generators/root/templates/deployment/kubernetes/modules/deployment/release.tf
Labels: none

Update dependency jest to ^28.1.0
  package.json
  yarn.lock
Labels: none

Allow selecting multiple frontends in app generator
  .eslintrc.json
  generators/app/index.test.ts
  generators/app/index.ts
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  generators/utils/database/index.ts
  utils/ansible/vault.ts
  utils/validation/validateFrontendName.test.ts
  utils/validation/validateFrontendName.ts
  utils/varName.ts
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.6.8
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.72.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency crypto-random-string to v5
  package.json
  yarn.lock
Labels: none

Use document_root instead of realpath_root
  generators/symfony/templates/deployment/kubernetes/docker/default.conf.ejs
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^1.3.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Fix update script targeting inexistant file
  scripts/updateNode.ts
Labels: none

Fix update script not updating NextJS node version
  scripts/updateNode.ts
Labels: none

Update typescript-eslint monorepo to ^5.23.0
  package.json
  yarn.lock
Labels: none

Update dependency ejs to ^3.1.8
  package.json
  yarn.lock
Labels: none

Update dependency @types/jest to ^27.5.1
  package.json
  yarn.lock
Labels: none

Update Node to v16.15.0
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/create-react-app/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency glob to ^8.0.2
  package.json
  yarn.lock
Labels: none

Update dependency glob to ^8.0.3
  package.json
  yarn.lock
Labels: none

Update dependency yaml to ^2.1.0
  package.json
  yarn.lock
Labels: none

Extract ingress configuration into a common util generator
  generators/create-react-app/index.ts
  generators/create-react-app/templates/deployment/kubernetes/chart/service.yaml.ejs
  generators/express/index.ts
  generators/express/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/next-js/index.ts
  generators/next-js/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/service.yaml.ejs
  generators/symfony/index.ts
  generators/symfony/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/service.yaml.ejs
  generators/utils/http/index.ts
  generators/utils/http/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/utils/http/templates/deployment/kubernetes/chart/service.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Allow matching without trailing slash in ingress
  generators/utils/http/templates/deployment/kubernetes/chart/ingress.yaml.ejs
Labels: none

Add x-forwarded-prefix header in ingress configuration
  generators/utils/http/templates/deployment/kubernetes/chart/ingress.yaml.ejs
Labels: none

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
