Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/react, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

feat(express): Add user creation script
  generators/express/templates/base/README.md
  generators/express/templates/base/package.json
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/infrastructure/cli/createUser.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/src/useCases/createUser.ts
Labels: generator/express

fix(user-creation): fix repository typing issur
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
Labels: generator/express

feat(express): Add user pagination
  generators/express/templates/base/src/domain/Pagination.ts
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/infrastructure/app.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/src/infrastructure/routes/users.ts
  generators/express/templates/base/src/infrastructure/routes/utils/parseRange.ts
  generators/express/templates/base/src/useCases/listUsers.ts
Labels: generator/express

Update PHP to v8.4.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

typo: change username to email
  generators/express/templates/base/src/infrastructure/cli/createUser.ts
  generators/express/templates/base/src/useCases/createUser.ts
Labels: generator/express

feat(express): Add user creation route
  generators/express/templates/base/src/infrastructure/routes/users.ts
Labels: generator/express

Update Node to v22.13.1
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

fix(start) Vite base apps use root instead of app
  generators/react/templates/deployment/kubernetes/docker/start.sh.ejs
Labels: generator/react

Update PHP to v8.4.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.14.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Use envsubst instead of sed to template index.html in react apps
  generators/react/index.test.ts
  generators/react/index.ts
  generators/react/templates/base/package.json
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/ansible/group_vars/all.yaml.ejs
  generators/react/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/react/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/deployment/kubernetes/docker/start.sh.ejs
Labels: generator/react

Update PHP to v8.4.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.14.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.14.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update PHP to v8.4.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update PHP to v8.4.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.14.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.15.1
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Disable fail fast on matrix jobs
  .github/workflows/ci.yaml
Labels: none

Update PHP to v8.4.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.16.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.16.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.16.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update PHP to v8.4.8
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.16.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.16.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.16.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.17.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.17.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update PHP to v8.4.10
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.17.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v22.17.1
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update PHP to v8.4.13
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/symfony

Update Node to v22.21.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/react:
  - generators/react/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/react-admin:
  - generators/react-admin/**/*

generator/react-native-mobile:
  - generators/react-native-mobile/**/*

generator/symfony:
  - generators/symfony/**/*
