Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Update dependency css-loader to ^5.2.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency css-loader to v6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Remove deprecated tilde in symfony SCSS
  generators/symfony/templates/base-twig/assets/base.scss
Labels: generator/symfony

Update dependency webpack to ^5.47.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-manifest-plugin to v4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update symfony monorepo
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack-manifest-plugin to ^4.0.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.47.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.94
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Fix Symfony assets config being included without twig
  generators/symfony/templates/base-twig/config/packages/assets.yaml
Labels: generator/symfony

Fix database creation for Express and Symfony generators
  generators/express/index.ts
  generators/express/templates/ansible/group_vars/all.yaml.ejs
  generators/express/templates/ansible/provision.yaml.ejs
  generators/express/templates/database.sql.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/root/templates/base/docker-compose.yaml
  generators/root/templates/base/postgres/docker/Dockerfile
  generators/root/templates/base/postgres/docker/initdb.d/.gitignore
  generators/symfony/index.ts
  generators/symfony/templates/ansible/group_vars/all.yaml.ejs
  generators/symfony/templates/ansible/provision.yaml.ejs
  generators/symfony/templates/database.sql.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/express, generator/symfony

Add migrations run for Symfony generator
  .eslintrc.json
  generators/symfony/templates/ansible/deployment.yaml.ejs
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/script/update.ejs
  utils/PackageGenerator.ts
Labels: generator/symfony

Add submodule update to bootstrap script
  generators/root/templates/base/script/bootstrap
Labels: none

Fix database name in ansible env variables
  generators/express/templates/ansible/group_vars/all.yaml.ejs
  generators/symfony/templates/ansible/group_vars/all.yaml.ejs
Labels: generator/express, generator/symfony

Update dependency eslint to ^7.32.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.37.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/preset-env to ^7.14.9
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.48.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.29.0
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.37.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.13.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @popperjs/core to ^2.9.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update Node to v14.17.4
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency sass to ^1.37.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^3.0.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency bootstrap to ^5.1.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^3.0.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.49.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint-plugin-import to ^2.24.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update ESLint config
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @thetribe/eslint-config to ^0.4.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @thetribe/eslint-config-typescript to ^0.3.1
  package.json
  yarn.lock
Labels: none

Add TypeORM to Express generator
  generators/express/templates/ansible/deployment.yaml.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/ormconfig-dist.js
  generators/express/templates/base/ormconfig.js
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/index.ts.ejs
  generators/express/templates/base/src/infrastructure/app.ts
  generators/express/templates/base/src/infrastructure/database/config.ts
  generators/express/templates/base/src/infrastructure/database/index.ts
  generators/express/templates/base/src/infrastructure/database/migrations/1626256402456-AddUser.ts
  generators/express/templates/base/src/infrastructure/database/schemas/index.ts
  generators/express/templates/base/src/infrastructure/database/schemas/user.ts
  generators/express/templates/base/src/infrastructure/routes/users.ts
  generators/express/templates/base/src/routes/example.ts
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/script/update.ejs
Labels: generator/express

Update dependency mini-css-extract-plugin to ^2.2.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update babel monorepo to ^7.15.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.29.1
  package.json
  yarn.lock
Labels: none

Update dependency @types/jest to v27
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.50.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.9.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency tslib to ^2.3.1
  package.json
  yarn.lock
Labels: none
