Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update symfony monorepo to ^5.3.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency typescript to ^4.4.2
  package.json
  yarn.lock
Labels: none

Update dependency eslint-plugin-import to ^2.24.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.15.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency sentry/sentry-symfony to ^4.2.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.30.0
  package.json
  yarn.lock
Labels: none

Add noindex header in non-production environments
  generators/root/templates/base/ansible/provision.yaml.ejs
Labels: none

Update scaleway terraform provider
  generators/root/templates/base/terraform/.terraform.lock.hcl
  generators/root/templates/base/terraform/provider.tf.ejs
Labels: none

Update dependency mini-css-extract-plugin to ^2.2.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.1.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^0.12.44
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.97
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^2.2.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.39.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @popperjs/core to ^2.10.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.51.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.98
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.44
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update babel monorepo to ^7.15.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency autoprefixer to ^10.3.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update Node to v14.17.6
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @popperjs/core to ^2.10.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/yeoman-generator to ^5.2.3
  package.json
  yarn.lock
Labels: none

Fix deprecation in tests
  utils/__tests__/ansible.ts
Labels: none

Prepare v0.3.0 release
  package.json
Labels: none

Update dependency webpack to ^5.52.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/yeoman-generator to ^5.2.4
  package.json
  yarn.lock
Labels: none

Update dependency @babel/core to ^7.15.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.15.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.15.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency sensio/framework-extra-bundle to ^6.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.31.0
  package.json
  yarn.lock
Labels: none

Update dependency @types/yeoman-test to ^4.0.3
  package.json
  yarn.lock
Labels: none

Update dependency webpack-dev-server to ^4.1.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Add a react-admin generator
  .eslintrc.json
  generators/app/index.ts
  generators/react-admin/index.test.ts
  generators/react-admin/index.ts
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/src/App.tsx
  generators/react-admin/templates/base/src/authProvider.ts
  generators/react-admin/templates/base/yarn.lock
Labels: none

Update dependency bootstrap to ^5.1.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.2.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.39.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/preset-env to ^7.15.6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.1.1
  package.json
  yarn.lock
Labels: none

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
