Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update symfony monorepo to ^5.3.11
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.17.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.17.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^1.0.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.64.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss to ^8.4.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update symfony monorepo to ^5.3.12
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.51
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.4.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.43.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.52
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.64.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.6.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss-loader to ^6.2.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss to ^8.4.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.53
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.4.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @popperjs/core to ^2.11.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.54
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-symfony to ^1.0.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency jest to ^27.4.0
  package.json
  yarn.lock
Labels: none

Update dependency @types/ramda to ^0.27.56
  package.json
  yarn.lock
Labels: none

Update dependency symfony/flex to ^1.17.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/phpunit-bridge to ^5.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency symfony/phpunit-bridge to v6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.5.0
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.44.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to ^27.4.1
  package.json
  yarn.lock
Labels: none

Update dependency doctrine/doctrine-bundle to ^2.5.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update doctrine/migrations
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update symfony monorepo to ^5.4.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update composer to v2.1.14
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
Labels: generator/symfony

Update dependency symfony/flex to v2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency jest to ^27.4.2
  package.json
  yarn.lock
Labels: none

Update dependency @types/ramda to ^0.27.57
  package.json
  yarn.lock
Labels: none

Update dependency @types/ramda to ^0.27.58
  package.json
  yarn.lock
Labels: none

Update dependency doctrine/doctrine-bundle to ^2.5.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency jest to ^27.4.3
  package.json
  yarn.lock
Labels: none

Update Node to v16.13.1
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Switch to main as production branch
  .circleci/config.yml
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
Labels: generator/create-react-app, generator/express

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
