Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/symfony

Update dependency @types/ramda to ^0.28.9
  package.json
  yarn.lock
Labels: none

Update dependency @types/ramda to ^0.28.10
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.5.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.28.11
  package.json
  yarn.lock
Labels: none

Update dependency symfony/flex to ^2.1.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/xml2js to ^0.4.10
  package.json
  yarn.lock
Labels: none

Update dependency @types/xml2js to ^0.4.11
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.5.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.20.0
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.50.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency babel-loader to ^8.2.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.12.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Don't tag docker image when not pushing
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency phpstan/phpstan to ^1.5.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency ejs to ^3.1.7
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-doctrine to ^1.3.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency tslib to ^2.4.0
  package.json
  yarn.lock
Labels: none

Update dependency doctrine/doctrine-bundle to ^2.6.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.12.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^8.14.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency autoprefixer to ^10.4.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency jest to v28
  package.json
  yarn.lock
Labels: none

Update Jest to v28
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.51.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.6.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.21.0
  package.json
  yarn.lock
Labels: none

Update dependency ts-jest to ^28.0.0-next.1
  package.json
  yarn.lock
Labels: none

Add ingressClassName to ingress config
  generators/create-react-app/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/ingress.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency jest to ^28.0.1
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.6.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency jest to ^28.0.2
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.6.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Prepare v0.4.1 release
  package.json
Labels: none

Update dependency yaml to ^2.0.1
  package.json
  yarn.lock
Labels: none

Update symfony monorepo to ^6.0.8
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.6.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency ts-jest to ^28.0.0-next.2
  package.json
  yarn.lock
Labels: none

Update dependency typescript to ^4.6.4
  package.json
  yarn.lock
Labels: none

Update dependency autoprefixer to ^10.4.6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency symfony/flex to ^2.1.8
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
