Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Update dependency symfony/flex to ^1.17.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency ts-jest to ^27.0.6
  package.json
  yarn.lock
Labels: none

Update dependency jest to ^27.3.0
  package.json
  yarn.lock
Labels: none

Update dependency ts-jest to ^27.0.7
  package.json
  yarn.lock
Labels: none

Stop overriding vault pass if it exists
  generators/root/index.ts
Labels: none

Update dependency webpack-cli to ^4.9.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Save and reload the prompts from the local config
  generators/app/index.ts
  generators/root/index.ts
  utils/BaseGenerator.ts
Labels: none

Update typescript-eslint monorepo to ^5.1.0
  package.json
  yarn.lock
Labels: none

Update dependency jest to ^27.3.1
  package.json
  yarn.lock
Labels: none

Update dependency doctrine/doctrine-migrations-bundle to ^3.2.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.59.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.59.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^2.4.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.10.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency sass to ^1.43.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency symfony/flex to ^1.17.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency babel-loader to ^8.2.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sentry/sentry-symfony to ^4.2.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency postcss to ^8.3.11
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint to ^8.1.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Fix WDS web socket proxying
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/create-react-app/templates/nginx.conf.ejs
Labels: generator/create-react-app

Run docker build in update script
  generators/root/templates/base/script/update
Labels: none

Disable eslint plugin on CI build
  generators/create-react-app/templates/circleci.yaml.ejs
Labels: generator/create-react-app

Update dependency css-loader to ^6.5.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.46
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.43.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Add code owners
  CODEOWNERS
Labels: none

Update dependency autoprefixer to ^10.4.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

Update typescript-eslint
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

Update node update script to handle major versions
  scripts/updateNode.ts
Labels: none

Fix udpate commit author
  .github/workflows/update.yaml
Labels: none

Disable eslint plugin in CRA generator
  generators/create-react-app/templates/docker-compose.yaml.ejs
Labels: generator/create-react-app

Update symfony monorepo to ^5.3.10
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update babel monorepo to ^7.16.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-deprecation-rules to v1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base/composer.json
Labels: generator/symfony

Update PHPStan to v1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/phpstan.neon.dist
Labels: generator/symfony

Update dependency css-loader to ^6.5.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency mini-css-extract-plugin to ^2.4.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.4.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony
