Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/symfony

Update terraform Readme to be more specific concerning credentials to create
  generators/root/templates/deployment/ansible/terraform/README.md
  generators/root/templates/deployment/kubernetes/environments/staging/README.md
Labels: none

Use base docker images in CI
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/symfony/templates/circleci-twig.yaml.ejs
  generators/symfony/templates/circleci.yaml.ejs
  scripts/updateNode.ts
  utils/circleci/Config.ts
  utils/circleci/__tests__/mergeConfig.ts
  utils/circleci/mergeConfig.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Improvement(Doc): Update ansible scaleway README
  generators/root/templates/deployment/ansible/terraform/README.md
Labels: none

Update ansible readme to make sure the server is created by terraform
  generators/root/templates/deployment/ansible/ansible/README.md
Labels: none

Update Scaleway provider version
  generators/root/templates/deployment/ansible/terraform/common/server/main.tf.ejs
Labels: none

Update dependency doctrine/doctrine-bundle to ^2.5.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.12.0
  package.json
  yarn.lock
Labels: none

Update dependency symfony/flex to ^2.1.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency sass-loader to ^12.5.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint to ^8.9.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency sass-loader to ^12.6.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.69.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.17.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.17.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency symfony/flex to ^2.1.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update composer to v2.2.6
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/symfony

Run generators tests in parallel
  package.json
Labels: none

Update dependency sass to ^1.49.8
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.17.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.69.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Fix node update script
  scripts/updateNode.ts
Labels: none

Update Node to v16.14.0
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/create-react-app/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci-twig.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @typescript-eslint/parser to ^5.12.1
  package.json
  yarn.lock
Labels: none

Update dependency @typescript-eslint/eslint-plugin to ^5.12.1
  package.json
  yarn.lock
Labels: none

Update dependency @types/jest to ^27.4.1
  package.json
  yarn.lock
Labels: none

Update dependency sentry/sentry-symfony to ^4.2.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^1.2.11
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.27.65
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.4.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.49.9
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^1.1.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^1.1.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.28.0
  package.json
  yarn.lock
Labels: none

Update symfony monorepo to ^5.4.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^8.10.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Add allow-plugins key to composer.json
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base/composer.json
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.13.0
  package.json
  yarn.lock
Labels: none

Update dependency typescript to ^4.6.2
  package.json
  yarn.lock
Labels: none

Add kubernetes deployment for Symfony generator
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/src/Controller/HomeController.php
  generators/symfony/templates/base/src/Controller/HealthController.php
  generators/symfony/templates/circleci-twig.yaml.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/ansible/group_vars/all.yaml.ejs
  generators/symfony/templates/deployment/ansible/group_vars/staging.yaml.ejs
  generators/symfony/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/symfony/templates/deployment/ansible/package/nginx.conf.j2.ejs
  generators/symfony/templates/deployment/ansible/package/provision.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/symfony/templates/deployment/kubernetes/chart/app-secret.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/database-secret.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/deployment.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/migrate-job.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/migrate-secret.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/service.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/.dockerignore.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/deployment/kubernetes/docker/default.conf.ejs
  scripts/updateNode.ts
Labels: generator/symfony

Fix auth password output
  generators/root/templates/deployment/kubernetes/modules/deployment/outputs.tf
Labels: none

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
