Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Fix generated CircleCI config
  generators/create-react-app/index.test.ts
  generators/express/index.test.ts
  generators/express/templates/circleci.yaml.ejs
Labels: generator/create-react-app, generator/express

Add a test to the generated express project
  generators/express/index.test.ts
  generators/express/templates/base/.eslintrc.json
  generators/express/templates/base/src/domain/User.test.ts
Labels: generator/express

Fix generated Dockerfile
  generators/create-react-app/index.test.ts
  generators/create-react-app/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/express/index.test.ts
Labels: generator/create-react-app, generator/express

Fix auth annotations
  generators/create-react-app/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/ingress.yaml.ejs
Labels: generator/create-react-app, generator/express

Pass secrets as plain strings instead of base64
  generators/express/templates/deployment/kubernetes/chart/database-secret.yaml.ejs
  generators/root/templates/deployment/kubernetes/modules/deployment/chart/templates/basic-auth.yaml.ejs
Labels: generator/express

Use a separate secret for migration job
  generators/express/templates/deployment/kubernetes/chart/migrate-job.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/migrate-secret.yaml.ejs
Labels: generator/express

Configure terraform provider automaticaly with a datasource
  generators/root/templates/deployment/kubernetes/environments/staging/main.tf.ejs
Labels: none

Fix auth password output sensitivity
  generators/root/templates/deployment/kubernetes/environments/staging/outputs.tf
  generators/root/templates/deployment/kubernetes/modules/deployment/outputs.tf
Labels: none

Fix chart path
  generators/root/templates/deployment/kubernetes/modules/deployment/release.tf
Labels: none

Fix passing auth password to helm
  generators/root/templates/deployment/kubernetes/modules/deployment/release.tf
Labels: none

Add cookie secret env var
  generators/express/index.ts
  generators/express/templates/deployment/kubernetes/chart/cookie-secret.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/deployment.yaml.ejs
Labels: generator/express

Add terraform readme
  generators/root/templates/deployment/kubernetes/environments/staging/README.md
Labels: none

Add missing URL rewriting to Express ingress
  generators/express/templates/deployment/kubernetes/chart/ingress.yaml.ejs
Labels: generator/express

Add basic health probe url
  generators/express/templates/base/src/infrastructure/app.ts
  generators/express/templates/base/src/infrastructure/routes/health.ts
  generators/express/templates/deployment/kubernetes/chart/deployment.yaml.ejs
Labels: generator/express

Update dependency webpack to ^5.68.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.4.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.10.2
  package.json
  yarn.lock
Labels: none

Update dependency sass to ^1.49.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^1.1.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update create-react-app to v5.0.0
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
Labels: generator/create-react-app

Update dependency doctrine/doctrine-migrations-bundle to ^3.2.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency postcss to ^8.4.6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.49.7
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.7.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency css-loader to ^6.6.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.4.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^1.1.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Fix CRA ingress in case the app is not hosted at the domain root
  generators/create-react-app/templates/deployment/kubernetes/chart/ingress.yaml.ejs
Labels: generator/create-react-app

Add kubernetes deployment for NextJS generator
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/group_vars/all.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/nginx.conf.j2.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/next-js/templates/deployment/kubernetes/chart/deployment.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/ingress.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/service.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/.dockerignore
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  scripts/updateNode.ts
Labels: generator/next-js

Update dependency @types/yeoman-generator to ^5.2.9
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-symfony to ^1.1.5
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.4.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency friendsofphp/php-cs-fixer to ^3.6.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency jest to ^27.5.0
  package.json
  yarn.lock
Labels: none

Update typescript-eslint monorepo to ^5.11.0
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan-doctrine to ^1.2.9
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency jest to ^27.5.1
  package.json
  yarn.lock
Labels: none

Update dependency @babel/core to ^7.17.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.17.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^1.2.10
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony
