Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Add react-router
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/src/App.tsx
  generators/create-react-app/templates/base/yarn.lock
Labels: generator/create-react-app

Update dependency execa to ^5.1.1
  package.json
  yarn.lock
Labels: none

Update dependency eslint to ^7.28.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.4.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Fix Symfony generator node container working directory
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/symfony

Update dependency ts-jest to ^27.0.3
  package.json
  yarn.lock
Labels: none

Update dependency webpack-cli to ^4.7.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-cli to ^4.7.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.26.1
  package.json
  yarn.lock
Labels: none

Update dependency @tsconfig/node14 to ^1.0.1
  package.json
  yarn.lock
Labels: none

Update babel monorepo to ^7.14.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss to ^8.3.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.36
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^0.12.39
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency postcss-loader to v6
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass-loader to ^12.1.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss to ^8.3.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency postcss-loader to ^6.1.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.89
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Add yeoman-generator keyword
  package.json
Labels: none

normalize package.json space again
  generators/next-js/templates/base/package.json.ejs
Labels: generator/next-js

modify next.config and remove sentry step in ci for now
  generators/next-js/templates/base/.eslintrc.json
  generators/next-js/templates/base/next-config.js
  generators/next-js/templates/base/next.config.js
  generators/next-js/templates/base/pages/index.tsx
  generators/next-js/templates/circleci.yaml.ejs
Labels: generator/next-js

add local docker to nextjs generator
  generators/next-js/templates/base/package.json.ejs
Labels: generator/next-js

add circle config
  generators/next-js/index.ts
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/version.ts
  generators/next-js/templates/circleci.yaml.ejs
Labels: generator/next-js

normalize package.json space again
  generators/next-js/templates/base/package.json.ejs
Labels: generator/next-js

up eslint-config-react-typescript to 0.2
  generators/next-js/templates/base/package.json.ejs
Labels: generator/next-js

normalize package.json space
  generators/next-js/templates/base/package.json.ejs
Labels: generator/next-js

fix after feedback / PR
  generators/next-js/templates/base/.eslintrc.json
  generators/next-js/templates/base/package.json.ejs
Labels: generator/next-js

remove ignorePattern for next.config.js
  generators/next-js/templates/base/tsconfig.json
Labels: generator/next-js

add specific parser for next.config.js
  generators/create-react-app/templates/base/.eslintrc.json
  generators/next-js/templates/base/tsconfig.json
Labels: generator/create-react-app, generator/next-js

move changes to eslint within nextjs generator
  generators/create-react-app/templates/base/.eslintrc.json
  generators/next-js/templates/base/.eslintrc.json
Labels: generator/create-react-app, generator/next-js

remove ignorePattern
  generators/next-js/templates/base/.eslintrc.json
Labels: generator/next-js

Make generator work on an already generated project
  generators/root/index.ts
Labels: none

Update dependency tslib to ^2.3.0
  package.json
  yarn.lock
Labels: none

Update dependency postcss to ^8.3.3
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

add next config to ignorePattern
  generators/next-js/templates/base/.eslintrc.json
Labels: generator/next-js

Update dependency postcss to ^8.3.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/orm to ^2.9.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.27.0
  package.json
  yarn.lock
Labels: none

Add GitHub workflow to automaticaly update node
  .github/.editorconfig
  .github/workflows/update.yaml
  scripts/updateNode.ts
Labels: none

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
