Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/symfony

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*

Update dependency phpstan/phpstan-symfony to ^1.1.8
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Add missing public folder in NextJS generator
  generators/next-js/templates/base/public/.gitignore
  generators/next-js/templates/circleci.yaml.ejs
Labels: generator/next-js

Update dependency phpstan/phpstan to ^1.5.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency ts-jest to ^27.1.4
  package.json
  yarn.lock
Labels: none

Update dependency typescript to ^4.6.3
  package.json
  yarn.lock
Labels: none

Update dependency @types/ramda to ^0.28.3
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.5.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.17.0
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.5.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^1.3.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency @types/yeoman-generator to ^5.2.10
  package.json
  yarn.lock
Labels: none

Update dependency phpstan/phpstan to ^1.5.3
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency sass to ^1.49.10
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^1.3.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.6.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.71.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.49.11
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^1.5.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.6.1
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update symfony monorepo to ^6.0.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^8.12.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.28.7
  package.json
  yarn.lock
Labels: none

Update typescript-eslint monorepo to ^5.18.0
  package.json
  yarn.lock
Labels: none

Update dependency sentry/sentry-symfony to ^4.2.8
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

docs: update kubernetes/terraform readme to ease the use for beginners (add basic commands)
  generators/root/templates/deployment/kubernetes/environments/staging/README.md
Labels: none

Update dependency phpstan/phpstan-doctrine to ^1.3.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Add CD for ansible deployment
  generators/app/index.test.ts
  generators/create-react-app/index.ts
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/create-react-app/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/express/index.ts
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/fast-api/templates/ansible/package/deployment_ci.yaml.ejs
  generators/next-js/index.ts
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/root/index.ts
  generators/root/templates/deployment/ansible/.circleci/.editorconfig
  generators/root/templates/deployment/ansible/.circleci/config.yml
  generators/root/templates/deployment/ansible/ansible/README.md
  generators/root/templates/deployment/ansible/ansible/deployment_ci.yaml
  generators/symfony/index.ts
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  utils/PackageGenerator.ts
Labels: generator/create-react-app, generator/express, generator/fast-api, generator/next-js, generator/symfony

Update dependency @popperjs/core to ^2.11.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.8.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint-plugin-import to ^2.26.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.17.9
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency sass to ^1.50.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack-dev-server to ^4.8.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency yaml to v2
  package.json
  yarn.lock
Labels: none

Update yaml package to v2
  generators/root/index.test.ts
  package.json
  utils/PackageGenerator.ts
  yarn.lock
Labels: none

Update dependency doctrine/doctrine-bundle to ^2.6.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency eslint to ^8.13.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @types/ramda to ^0.28.8
  package.json
  yarn.lock
Labels: none

Update dependency webpack to ^5.72.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^5.19.0
  package.json
  yarn.lock
Labels: none
