Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/react, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Use indent tag to cleanup long template lines
  generators/express/index.ts
  generators/next-js/index.ts
  generators/react/index.ts
  generators/symfony/index.ts
  package.json
  utils/BaseGenerator.ts
  yarn.lock
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Test and fix Node update script in CI
  .github/workflows/ci.yaml
  scripts/updateNode.ts
Labels: none

Update Node to v18.13.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/tsconfig.json
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/provision.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/yarn.lock
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/symfony

Fix tests
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  scripts/updateNode.ts
Labels: generator/express

Update Node version in test matrix
  .github/workflows/ci.yaml
Labels: none

Prepare v0.4.3 release
  package.json
Labels: none

Update Next.js to v13
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
Labels: generator/next-js

Update vulnerable dependencies
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/yarn.lock
  generators/react-native-mobile/templates/base/yarn.lock
  generators/react/templates/base/yarn.lock
  generators/symfony/templates/base-twig/yarn.lock
  scripts/regenerate-yarn-lock.mjs
  yarn.lock
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Update express to 5.0.0-beta.1
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

Update more vulnerable dependencies
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/yarn.lock
  yarn.lock
Labels: generator/react, generator/react-admin

Update Node to v18.14.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/yarn.lock
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/symfony

Add noUncheckedIndexedAccess to ts configs
  generators/app/index.test.ts
  generators/express/index.ts
  generators/express/templates/base/tsconfig.json
  generators/next-js/index.ts
  generators/next-js/templates/base/tsconfig.json
  generators/react/index.ts
  generators/react/templates/base/tsconfig.json
  generators/symfony/index.ts
  tsconfig.json
  utils/circleci/__tests__/mergeConfig.ts
  utils/circleci/mergeConfig.ts
Labels: generator/react, generator/express, generator/next-js, generator/symfony

Update Node to v18.14.1
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/yarn.lock
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/symfony

Update some Symfony packages to v6.2.7
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update PHP to v8.2.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/symfony

Update php-cs-fixer
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/symfony

Remove deprecated sensio/framework-extra-bundle
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base-twig/config/bundles.php
  generators/symfony/templates/base-twig/src/Controller/HomeController.php
  generators/symfony/templates/base-twig/symfony.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/config/bundles.php
  generators/symfony/templates/base/config/packages/sensio_framework_extra.yaml
  generators/symfony/templates/base/config/routes.yaml
  generators/symfony/templates/base/config/routes/annotations.yaml
  generators/symfony/templates/base/src/Controller/HealthController.php
  generators/symfony/templates/base/symfony.lock
Labels: generator/symfony

Update ESLint config
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/pages/index.tsx
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/src/App.tsx
  generators/react-admin/templates/base/src/admin/user.tsx
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/src/App.test.tsx
  generators/react/templates/base/src/App.tsx
  generators/react/templates/base/src/components/Home.tsx
  generators/react/templates/base/src/components/Layout.tsx
  generators/react/templates/base/yarn.lock
Labels: generator/react, generator/express, generator/next-js, generator/react-admin

Fix React CSS code style
  generators/react/templates/base/src/components/Layout.css
  generators/react/templates/base/src/components/Layout.tsx
  generators/react/templates/base/src/index.css
Labels: generator/react

Update testing-library
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/react/index.test.ts
  generators/react/templates/base/.eslintrc.json
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/yarn.lock
Labels: generator/react, generator/react-admin

Update typescript to v5.0.4
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/yarn.lock
Labels: generator/react, generator/express, generator/next-js, generator/react-admin

Update typescript-eslint
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/yarn.lock
Labels: generator/react, generator/express, generator/next-js, generator/react-admin

Update Node to v18.16.0
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  generators/react/templates/base/docker/Dockerfile.ejs
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/yarn.lock
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js, generator/react-admin, generator/symfony

Update NodeJS required version
  .github/workflows/ci.yaml
  package.json
Labels: none

[WIP] Run tests in ESM mode instead of CJS
  generators/app/index.test.ts
  generators/app/index.ts
  generators/express/index.test.ts
  generators/express/index.ts
  generators/fast-api/index.ts
  generators/flutter-mobile/index.test.ts
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/react-admin/index.test.ts
  generators/react-admin/index.ts
  generators/react-native-mobile/index.test.ts
  generators/react/index.test.ts
  generators/react/index.ts
  generators/root/index.test.ts
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  jest.config.js
  package.json
  scripts/regenerate-yarn-lock.mjs
  tsconfig.json
  utils/ansible/vault.ts
  utils/createResolve.ts
  yarn.lock
Labels: generator/react, generator/express, generator/fast-api, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Run tests using node instead of jest
  .github/workflows/ci.yaml
  generators/app/index.test.ts
  generators/express/index.test.ts
  generators/flutter-mobile/index.test.ts
  generators/next-js/index.test.ts
  generators/react-admin/index.test.ts
  generators/react-native-mobile/index.test.ts
  generators/react/index.test.ts
  generators/root/index.test.ts
  generators/symfony/index.test.ts
  jest.config.js
  package.json
  scripts/build.mjs
  utils/__tests__/ansible.ts
  utils/__tests__/indent.ts
  utils/ansible.test.ts
  utils/ansible.ts
  utils/ansible/index.ts
  utils/circleci/Config.test.ts
  utils/circleci/mergeConfig.test.ts
  utils/codemagic/Config.test.ts
  utils/codemagic/mergeConfig.test.ts
  utils/domain.test.ts
  utils/indent.test.ts
  utils/validation/validateApplicationPrefix.test.ts
  utils/validation/validateEmail.test.ts
  utils/validation/validateFrontendName.test.ts
  utils/validation/validatePackagePath.test.ts
  utils/validation/validateProjectName.test.ts
  utils/varName.test.ts
  yarn.lock
Labels: generator/react, generator/express, generator/flutter-mobile, generator/next-js, generator/react-admin, generator/react-native-mobile, generator/symfony

Update glob to v10
  package.json
  scripts/build.mjs
  yarn.lock
Labels: none

Update yarn
  .gitattributes
  .gitignore
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

Fix typo
  generators/app/index.ts
Labels: none

Update terraform provider to get bug fixes
  generators/root/templates/deployment/kubernetes/environments/staging/.terraform.lock.hcl
  generators/root/templates/deployment/kubernetes/modules/deployment/main.tf
Labels: none

Replace CRA with Vite in react generator
  generators/app/index.test.ts
  generators/react/index.test.ts
  generators/react/templates/base/.gitignore
  generators/react/templates/base/README.md
  generators/react/templates/base/index.html
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/public/favicon.ico
  generators/react/templates/base/public/index.html
  generators/react/templates/base/public/logo192.png
  generators/react/templates/base/public/logo512.png
  generators/react/templates/base/public/manifest.json
  generators/react/templates/base/src/App.test.tsx
  generators/react/templates/base/src/main.tsx
  generators/react/templates/base/src/react-app-env.d.ts
  generators/react/templates/base/src/setupTests.ts
  generators/react/templates/base/src/vite-env.d.ts
  generators/react/templates/base/tsconfig.json
  generators/react/templates/base/tsconfig.node.json
  generators/react/templates/base/vite.config.ts
  generators/react/templates/base/yarn.lock
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/react/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/react/templates/deployment/ansible/package/nginx.conf.j2.ejs
  generators/react/templates/deployment/kubernetes/docker/.dockerignore
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/docker-compose.yaml.ejs
Labels: generator/react

Add support for Vite in react-admin generator
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
Labels: generator/react-admin

Fix base path handling
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/vite.config.ts.ejs
Labels: generator/react

Fix duplicated app entrypoint
  generators/react/templates/base/package.json.ejs
  generators/react/templates/base/src/index.tsx.ejs
  generators/react/templates/base/src/main.tsx
  generators/react/templates/base/src/main.tsx.ejs
  generators/react/templates/base/src/reportWebVitals.ts
  generators/react/templates/base/yarn.lock
Labels: generator/react

Fix react readme
  generators/react/templates/base/README.md.ejs
Labels: generator/react

Update glob to v10
  package.json
  scripts/build.mjs
  yarn.lock
Labels: none

Create root README.md
  generators/root/templates/base/README.md
Labels: none

Fix prod Dockerfiles
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/react/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/react, generator/express, generator/next-js

Update package.json.ejs
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

Update .gitignore
  generators/express/templates/base/.gitignore
Labels: generator/express

.github/labeler.yaml:

generator/react:
  - generators/react/**/*

generator/express:
  - generators/express/**/*

generator/fast-api:
  - generators/fast-api/**/*

generator/flutter-mobile:
  - generators/flutter-mobile/**/*

generator/next-js:
  - generators/next-js/**/*

generator/react-admin:
  - generators/react-admin/**/*

generator/react-native-mobile:
  - generators/react-native-mobile/**/*

generator/symfony:
  - generators/symfony/**/*
