Repository thetribeio/generator-project, changes with the labels that .github/labeler.yaml gives for each.
All labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update babel monorepo to ^7.13.10
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency autoprefixer to ^10.2.5
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.81
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-symfony to ^0.12.21
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan-doctrine to ^0.12.33
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency ts-jest to ^26.5.4
  package.json
  yarn.lock
Labels: none

Replace run function with execa
  generators/create-react-app/__tests__/index.ts
  generators/express/__tests__/index.ts
  generators/next-js/__tests__/index.ts
  generators/root/index.ts
  generators/symfony/__tests__/index.ts
  generators/symfony/index.ts
  package.json
  utils/__tests__/ansible.ts
  utils/__tests__/run.ts
  utils/run.ts
  yarn.lock
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Update dependency @types/jest to ^26.0.21
  package.json
  yarn.lock
Labels: none

Update dependency postcss-loader to ^5.2.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency symfony/phpunit-bridge to ^5.2
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency thetribe/coding-standard to ^0.1.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update symfony monorepo
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency phpstan/phpstan to ^0.12.82
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.27.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency doctrine/doctrine-bundle to ^2.3.0
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

Update dependency webpack to ^5.27.1
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.27.2
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/preset-env to ^7.13.12
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update typescript-eslint monorepo to ^4.19.0
  package.json
  yarn.lock
Labels: none

Update react monorepo to ^17.0.2
  generators/next-js/templates/base/package.json
Labels: generator/next-js

Update dependency css-loader to ^5.1.4
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency webpack to ^5.28.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency css-loader to ^5.2.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @types/jest to ^26.0.22
  package.json
  yarn.lock
Labels: none

Prepare README.md for publishing
  CONTRIBUTING.md
  README.md
  package.json
Labels: none

Validate project name
  .eslintrc.json
  generators/root/index.ts
  utils/validation/index.ts
  utils/validation/validateProjectName.test.ts
  utils/validation/validateProjectName.ts
Labels: none

Move generator test outside of `__tests__` folders
  .eslintrc.json
  generators/app/index.test.ts
  generators/create-react-app/index.test.ts
  generators/express/index.test.ts
  generators/next-js/index.test.ts
  generators/root/index.test.ts
  generators/symfony/index.test.ts
  tsconfig.build.json
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

Prepare v0.1.0 release
  package.json
Labels: none

Update dependency mini-css-extract-plugin to ^1.4.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency @babel/core to ^7.13.13
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update dependency eslint to ^7.23.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
  package.json
  yarn.lock
Labels: generator/symfony

Update dependency @types/node to ^14.14.37
  generators/next-js/templates/base/package.json
Labels: generator/next-js

Update dependency webpack-cli to ^4.6.0
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

Update symfony monorepo to ^5.2.6
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

add local docker to nextjs generator
  README.md
  generators/express/index.test.ts
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/next-config.js
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
Labels: generator/express, generator/next-js

fix linter
  generators/next-js/index.ts
Labels: generator/next-js

fix after feedback / PR
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/next-js/index.test.ts
  generators/next-js/templates/base/.eslintrc.json
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/base/next-config.js
  generators/next-js/templates/base/package.json.ejs
  generators/root/templates/base/.circleci/config.yml
Labels: generator/create-react-app, generator/express, generator/next-js

remove parser from eslintrc.json
  generators/create-react-app/templates/base/.eslintrc.json
  generators/next-js/templates/base/.eslintrc.json
Labels: generator/create-react-app, generator/next-js

add @types/react-dom
  generators/next-js/templates/base/package.json.ejs
Labels: generator/next-js

switch backend and front end port to support nextjs hot reload
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/express/templates/ansible/provision.yaml.ejs
  generators/express/templates/base/src/index.ts.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/next-js

.github/labeler.yaml:

generator/create-react-app:
  - generators/create-react-app/**/*

generator/express:
  - generators/express/**/*

generator/next-js:
  - generators/next-js/**/*

generator/symfony:
  - generators/symfony/**/*
