Repository thetribeio/generator-project, pull requests merged in 2021-12, with the labels that each got.

#743 Switch to main as production branch
  .circleci/config.yml
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
Labels: generator/create-react-app, generator/express

#771 Renamed $UID to $uid to have tests running on MacOS.
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
  generators/root/templates/base/script/lib/docker
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

#764 Fix Symfony with twig request proxy chain
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/webpack.config.js.ejs
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/nginx-twig.conf.ejs
Labels: bug, generator/symfony

#769 Simplify Symfony kernel
  generators/symfony/templates/base/src/Kernel.php
Labels: bug, generator/symfony

#766 Configure Symfony logger to use stderr
  generators/symfony/templates/base/config/services.yaml
Labels: generator/symfony

#767 Fix Symfony running in prod env instead of dev
  generators/symfony/templates/docker-compose.yaml.ejs
Labels: generator/symfony

#768 Cleanup unnecessary docker service override
  generators/symfony/templates/docker-compose-twig.yaml.ejs
Labels: generator/symfony

#765 Allow no migrations in Symfony update script
  generators/symfony/templates/script/update.ejs
Labels: bug, generator/symfony

#773 Fix Sentry incompatibility with symfony/cache
  generators/symfony/index.test.ts
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/script/bootstrap.ejs
Labels: generator/symfony

#781 Update PHP-CS-Fixer
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

#787 Fix PHP socket path in Symfony Ansible config
  generators/symfony/templates/ansible/group_vars/all.yaml.ejs
  generators/symfony/templates/ansible/package/nginx.conf.j2.ejs
  generators/symfony/templates/ansible/package/provision.yaml.ejs
Labels: generator/symfony
