Repository thetribeio/generator-project, pull requests merged in 2021-06, with the labels that each got.

#296 Update PHP version
  .circleci/config.yml
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/ansible/provision.yaml.ejs
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base-twig/symfony.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/base/symfony.lock
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/symfony

#297 Update polyfill replace rules
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

#298 Remove unnecessary polyfills
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

#299 Update php-cs-fixer
  .circleci/config.yml
  generators/symfony/templates/base-twig/.gitignore
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/.gitignore
  generators/symfony/templates/base/.php-cs-fixer.dist.php
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

#300 Update bootstrap to v5
  generators/symfony/templates/base-twig/config/packages/twig.yaml
  generators/symfony/templates/base-twig/package.json
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

#307 Fix Symfony generator node container working directory
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
Labels: generator/symfony

#301 Add react-router
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/src/App.tsx
  generators/create-react-app/templates/base/yarn.lock
Labels: generator/create-react-app

#223 Feature/next js add circle ci
  generators/next-js/index.ts
  generators/next-js/templates/base/.eslintrc.json
  generators/next-js/templates/base/next-config.js
  generators/next-js/templates/base/next.config.js
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/pages/index.tsx
  generators/next-js/templates/base/version.ts
  generators/next-js/templates/circleci.yaml.ejs
Labels: generator/next-js

#363 Make Symfony range constraint more permissive
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base/composer.json
Labels: generator/symfony

#367 Simplify NextJS generator
  generators/next-js/index.ts
Labels: generator/next-js

#365 Fix artifact destination in symfony generator
  generators/symfony/templates/circleci-twig.yaml.ejs
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/symfony

#364 Install node_modules using node orb on CI
  .circleci/config.yml
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/root/templates/base/.circleci/config.yml
  generators/symfony/templates/circleci-twig.yaml.ejs
  utils/circleci/Config.ts
  utils/circleci/__tests__/Config.ts
  utils/circleci/__tests__/mergeConfig.ts
  utils/circleci/mergeConfig.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

#302 Replace automatic installation of dependency with a script
  .circleci/config.yml
  generators/app/index.ts
  generators/create-react-app/index.test.ts
  generators/create-react-app/index.ts
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/create-react-app/templates/script/bootstrap.ejs
  generators/express/index.test.ts
  generators/express/index.ts
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/express/templates/script/bootstrap.ejs
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
  generators/next-js/templates/script/bootstrap.ejs
  generators/root/index.ts
  generators/root/templates/base/script/bootstrap
  generators/root/templates/base/script/lib/docker
  generators/root/templates/base/script/server
  generators/root/templates/base/script/update
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
  generators/symfony/templates/script/bootstrap.ejs
  package.json
  utils/PackageGenerator.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony

#366 Add a package path option to package generators
  generators/create-react-app/index.test.ts
  generators/create-react-app/index.ts
  generators/create-react-app/templates/base/docker/Dockerfile.ejs
  generators/create-react-app/templates/circleci.yaml.ejs
  generators/create-react-app/templates/docker-compose.yaml.ejs
  generators/express/index.test.ts
  generators/express/index.ts
  generators/express/templates/base/docker/Dockerfile.ejs
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/docker-compose.yaml.ejs
  generators/next-js/index.test.ts
  generators/next-js/index.ts
  generators/next-js/templates/base/docker/Dockerfile.ejs
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/docker-compose.yaml.ejs
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  generators/symfony/templates/base-twig/docker/node/Dockerfile.ejs
  generators/symfony/templates/base/docker/nginx/default.conf.ejs
  generators/symfony/templates/base/docker/php/Dockerfile.ejs
  generators/symfony/templates/circleci-twig.yaml.ejs
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/docker-compose-twig.yaml.ejs
  generators/symfony/templates/docker-compose.yaml.ejs
  utils/PackageGenerator.ts
  utils/validation/validatePackagePath.test.ts
  utils/validation/validatePackagePath.ts
Labels: generator/create-react-app, generator/express, generator/next-js, generator/symfony
