Repository thetribeio/generator-project, pull requests merged in 2022-08, with the labels that each got.

#1256 Configure Doctrine to use attributes for mapping
  generators/symfony/templates/base/config/packages/doctrine.yaml
Labels: generator/symfony

#1281 Update Typescript
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  package.json
  utils/BaseGenerator.ts
  yarn.lock
Labels: generator/create-react-app, generator/next-js

#1289 Update to flutter 3.3.0.
  generators/flutter-mobile/templates/base/.gitignore
  generators/flutter-mobile/templates/base/.metadata
  generators/flutter-mobile/templates/base/android/app/build.gradle
  generators/flutter-mobile/templates/base/android/app/src/debug/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/main/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/main/res/values-night/styles.xml
  generators/flutter-mobile/templates/base/android/app/src/main/res/values/styles.xml
  generators/flutter-mobile/templates/base/android/app/src/profile/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/build.gradle
  generators/flutter-mobile/templates/base/android/gradle/wrapper/gradle-wrapper.properties
  generators/flutter-mobile/templates/base/ios/Flutter/AppFrameworkInfo.plist
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/project.pbxproj
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  generators/flutter-mobile/templates/base/ios/Runner/Info.plist
  generators/flutter-mobile/templates/base/lib/src/app.dart
  generators/flutter-mobile/templates/base/lib/src/sample_feature/sample_item_details_view.dart
  generators/flutter-mobile/templates/base/lib/src/sample_feature/sample_item_list_view.dart
  generators/flutter-mobile/templates/base/lib/src/settings/settings_controller.dart
  generators/flutter-mobile/templates/base/lib/src/settings/settings_view.dart
  generators/flutter-mobile/templates/base/pubspec.yaml
  generators/flutter-mobile/templates/base/test/widget_test.dart
Labels: generator/flutter-mobile
