Repository thetribeio/generator-project, pull requests merged in 2022-09, with the labels that each got.

#1314 fix: add cookie secret in express
  generators/express/index.ts
  generators/express/templates/deployment/ansible/group_vars/all.yaml.ejs
  generators/express/templates/deployment/ansible/group_vars/staging.yaml.ejs
Labels: generator/express

#1323 Update Sentry
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
Labels: generator/create-react-app, generator/express

#1320 User node randomUUID instead of uuid package
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/yarn.lock
  scripts/updateNode.ts
Labels: generator/express

#1283 Slurp condition newlines in tar command
  generators/symfony/templates/circleci.yaml.ejs
Labels: generator/symfony

#1324 Update react-router to v6
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/src/App.tsx
  generators/create-react-app/templates/base/src/components/Home.tsx
  generators/create-react-app/templates/base/src/components/Layout.css
  generators/create-react-app/templates/base/src/components/Layout.tsx
  generators/create-react-app/templates/base/yarn.lock
  generators/react-admin/index.ts
Labels: generator/create-react-app

#1325 Add a proper abstraction instead of using the TypeORM repository directly
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/infrastructure/auth.ts
  generators/express/templates/base/src/infrastructure/database/index.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/src/infrastructure/routes/users.ts
  generators/express/templates/base/src/useCases/loginUser.ts
Labels: generator/express

#1327 Update TypeORM to v0.3.9
  generators/express/templates/base/ormconfig-dist.js
  generators/express/templates/base/ormconfig.js
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/index.ts.ejs
  generators/express/templates/base/src/infrastructure/database/data-source.ts
  generators/express/templates/base/src/infrastructure/database/index.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/yarn.lock
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/ansible/package/deployment.yaml.ejs
  generators/express/templates/deployment/ansible/package/deployment_ci.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/migrate-job.yaml.ejs
  generators/express/templates/deployment/kubernetes/docker/Dockerfile.ejs
  generators/express/templates/script/update.ejs
Labels: generator/express

#1330 Update typeorm, typeorm-naming-strategies and pg
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

#1332 Update NextJS to v12
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
Labels: generator/next-js

#1331 Update react to v18
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/src/index.tsx.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
Labels: generator/create-react-app, generator/next-js, generator/react-admin

#1334 Update vulnerable dependencies in express generator
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/src/infrastructure/routes/auth.ts
  generators/express/templates/base/yarn.lock
Labels: generator/express

#1338 Update vulnerable dependencies in Symfony generator
  generators/symfony/templates/base-twig/yarn.lock
Labels: generator/symfony

#1341 Update react-admin
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
Labels: generator/react-admin

#1343 Update react-scripts and move to devDependencies
  generators/app/index.test.ts
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
Labels: generator/create-react-app, generator/react-admin
