Repository thetribeio/generator-project, pull requests merged in 2022-05, with the labels that each got.

#1103 Use document_root instead of realpath_root
  generators/symfony/templates/deployment/kubernetes/docker/default.conf.ejs
Labels: generator/symfony

#1114 Update @types/node when updating NodeJS version
  generators/create-react-app/templates/base/package.json.ejs
  generators/create-react-app/templates/base/yarn.lock
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/yarn.lock
  generators/react-admin/templates/base/package.json.ejs
  generators/react-admin/templates/base/yarn.lock
  scripts/updateNode.ts
Labels: generator/create-react-app, generator/next-js

#1119 Avoid double linting on docker build
  generators/create-react-app/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/create-react-app

#1098 Allow selecting multiple frontends in app generator
  .eslintrc.json
  generators/app/index.test.ts
  generators/app/index.ts
  generators/symfony/index.test.ts
  generators/symfony/index.ts
  generators/utils/database/index.ts
  utils/ansible/vault.ts
  utils/validation/validateFrontendName.test.ts
  utils/validation/validateFrontendName.ts
  utils/varName.ts
Labels: generator/symfony
