Repository thetribeio/generator-project, pull requests merged in 2024-05, with the labels that each got.

#1722 Update express to 5.0.0-beta.3
  generators/express/templates/base/package.json.ejs
  generators/express/templates/base/yarn.lock
Labels: generator/express

#1723 Update NextJS to v14
  generators/next-js/templates/base/.eslintrc.json
  generators/next-js/templates/base/.gitignore
  generators/next-js/templates/base/next-env.d.ts
  generators/next-js/templates/base/next.config.js
  generators/next-js/templates/base/next.config.mjs
  generators/next-js/templates/base/package.json.ejs
  generators/next-js/templates/base/pages/index.tsx
  generators/next-js/templates/base/postcss.config.mjs
  generators/next-js/templates/base/public/.gitignore
  generators/next-js/templates/base/public/next.svg
  generators/next-js/templates/base/public/vercel.svg
  generators/next-js/templates/base/src/app/favicon.ico
  generators/next-js/templates/base/src/app/globals.css
  generators/next-js/templates/base/src/app/layout.tsx
  generators/next-js/templates/base/src/app/page.tsx
  generators/next-js/templates/base/src/version.ts
  generators/next-js/templates/base/tailwind.config.ts
  generators/next-js/templates/base/tsconfig.json
  generators/next-js/templates/base/yarn.lock
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/ansible/package/provision.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/docker/.dockerignore
  generators/next-js/templates/deployment/kubernetes/docker/Dockerfile.ejs
Labels: generator/next-js

#1726 Use slash as separator for image names
  generators/express/index.ts
  generators/express/templates/circleci.yaml.ejs
  generators/express/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/next-js/index.ts
  generators/next-js/templates/circleci.yaml.ejs
  generators/next-js/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/react/index.ts
  generators/react/templates/circleci.yaml.ejs
  generators/react/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
  generators/symfony/index.ts
  generators/symfony/templates/circleci.yaml.ejs
  generators/symfony/templates/deployment/kubernetes/chart/_helpers.tpl.ejs
Labels: generator/express, generator/next-js, generator/symfony, generator/react

#1729 Upgrade flutter to 3.19
  doc/QUICKSTART.md
  generators/flutter-mobile/templates/base/.metadata
  generators/flutter-mobile/templates/base/analysis_options.yaml
  generators/flutter-mobile/templates/base/android/app/build.gradle
  generators/flutter-mobile/templates/base/android/app/src/debug/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/main/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/app/src/profile/AndroidManifest.xml
  generators/flutter-mobile/templates/base/android/build.gradle
  generators/flutter-mobile/templates/base/android/gradle.properties
  generators/flutter-mobile/templates/base/android/gradle/wrapper/gradle-wrapper.properties
  generators/flutter-mobile/templates/base/android/settings.gradle
  generators/flutter-mobile/templates/base/ios/Flutter/AppFrameworkInfo.plist
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/project.pbxproj
  generators/flutter-mobile/templates/base/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  generators/flutter-mobile/templates/base/ios/Runner/Info.plist
  generators/flutter-mobile/templates/base/ios/RunnerTests/RunnerTests.swift
  generators/flutter-mobile/templates/base/key.properties
  generators/flutter-mobile/templates/base/pubspec.yaml
  generators/flutter-mobile/templates/base/test/unit_test.dart
  generators/flutter-mobile/templates/base/test/widget_test.dart
  generators/flutter-mobile/templates/codemagic.yaml
Labels: generator/flutter-mobile
