Repository thetribeio/generator-project, pull requests merged in 2025-01, with the labels that each got.

#1710 Create root README.md
  generators/root/templates/base/README.md
Labels: documentation, enhancement

#1919 Update Sentry in Symfony generator
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base-twig/symfony.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
  generators/symfony/templates/base/symfony.lock
Labels: generator/symfony

#1921 Update Symfony to 6.4
  generators/symfony/templates/base-twig/composer.json
  generators/symfony/templates/base-twig/composer.lock
  generators/symfony/templates/base/composer.json
  generators/symfony/templates/base/composer.lock
Labels: generator/symfony

#1914 feat(express): Add user creation script
  generators/express/templates/base/README.md
  generators/express/templates/base/package.json
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/infrastructure/cli/createUser.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/src/useCases/createUser.ts
Labels: generator/express

#1931 feat(express): Add user pagination
  generators/express/templates/base/src/domain/Pagination.ts
  generators/express/templates/base/src/domain/User.ts
  generators/express/templates/base/src/infrastructure/app.ts
  generators/express/templates/base/src/infrastructure/database/repositories/UserRepository.ts
  generators/express/templates/base/src/infrastructure/routes/users.ts
  generators/express/templates/base/src/infrastructure/routes/utils/parseRange.ts
  generators/express/templates/base/src/useCases/listUsers.ts
Labels: generator/express
